section.edit-account {
    form#patient-update-profile {
        .form-row {
            > label {
                width: 180px;
                text-align: left;
                padding-right: 15px;
            }
            .checkboxes-container {
                width: calc(100% - 180px);
                .pretty {
                    white-space: normal;
                    padding-bottom: 10px;
                    margin-bottom: 0;
                    width: 100%;
                }
            }
            .custom-input {
                width: calc(100% - 180px) !important;
            }
            .avatar {
                width: 150px;
            }
        }
        @include breakpoint($xs) {
            .form-row {
                > label {
                    padding-bottom: 5px;
                    padding-top: 5px;
                    padding-right: 0;
                    width: 100%;
                }
                .checkboxes-container, .custom-input {
                    width: 100% !important;
                }
                select.custom-input.selectpicker {
                    display: none !important;
                }
            }
        }
    }
    .custom-input.bootstrap-select {
        padding: 0;
        > button {
            border: 0;
            background-color: white !important;
            padding: 12px 15px;
            .filter-option-inner-inner {
                font-size: 16px;
            }
        }
        .dropdown-menu {
            width: 100%;
        }
    }
}