.manage-privacy-container {
    .delete-local-storage-border-bottom {
        border-bottom: 3px solid black;
    }
    .delete, .download, .delete-local-storage {
        figure {
            width: 100px;
        }
        .text {
            width: calc(100% - 100px);
            padding-left: 20px;
        }
        &.delete {
            border-bottom: 3px solid black;
        }
        @include breakpoint($xs) {
            text-align: center;
            figure {
                margin: 0 auto;
            }
            .text {
                width: 100%;
                padding-left: 0;
                padding-top: 20px;
                text-align: left;
            }
            &.delete {
                input[type='submit'] {
                    font-size: 16px;
                    padding: 10px 0;
                    text-align: center;
                    width: 100%;
                    max-width: 300px;
                }
            }
            &.download, &.delete-local-storage {
                a {
                    font-size: 16px;
                    padding: 10px 0;
                    text-align: center;
                    width: 100%;
                    max-width: 300px;
                }
            }
        }
    }
}