/node_modules
/public/hot
/public/storage
/storage
/vendor
/.idea
/.vagrant
/.env
/.htaccess
/public/assets/videos/dentacoin-explainer-video.mp4
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/routes/admin.php
/app/Http/Controllers/Admin
/database
/resources/views/admin
/public/assets/images/christmas-calendar-campaign
/public/assets/images/christmas-calendar-campaign/screenshot-proofs