footer {
    border-top: 2px solid $solid_gray;
    .section-title {
        padding-top: 30px;
    }
    .newsletter-register {
        padding-top: 50px;
        padding-bottom: 30px;
        #mc_embed_signup_scroll {
            max-width: 300px;
            margin: 0 auto;
            font-size: 0;
            input[type='email'] {
                width: calc(100% - 100px);
                display: inline-block;
                vertical-align: middle;
                height: 40px;
                font-size: 18px;
                border: 1px solid #aaaaaa;
                padding: 0 5px;
                @include rounded(4px 0 0 4px);
            }
            .btn-container {
                width: 100px;
                display: inline-block;
                vertical-align: middle;
                input[type='submit'] {
                    height: 40px;
                    font-size: 18px;
                    background-color: #aaaaaa;
                    display: block;
                    width: 100%;
                    border: 0;
                    color: black;
                    @include rounded(0 4px 4px 0);
                }
            }
        }
        .checkbox-row {
            padding-top: 10px;
            text-align: left;
            max-width: 300px;
            margin: 0 auto;
            input[type='checkbox'] {
                vertical-align: middle;
                margin: 0;
            }
            label {
                font-size: 16px;
                margin: 0;
                vertical-align: middle;
                padding-left: 10px;
                a {
                    text-decoration: underline;
                }
            }
        }
        /*.email-octopus-success-message {
            color: #3c763d;
            font-size: 18px;
            text-align: center;
            font-family: 'Calibri-Bold';
        }
        .email-octopus-error-message {
            color: red;
            font-size: 18px;
            text-align: center;
            font-family: 'Calibri-Bold';
        }
        form {
            .form-row {
                padding-top: 10px;
                input[type='email'] {
                    width: 70%;
                    font-size: 16px;
                    padding: 5px 10px;
                    border-top: 1px solid $solid_gray;
                    border-bottom: 1px solid $solid_gray;
                    border-left: 1px solid $solid_gray;
                    border-right: 0;
                    @include rounded(4px 0 0 4px);
                }
                button[type='submit'] {
                    width: 30%;
                    font-size: 16px;
                    background-color: $solid_gray;
                    border: 1px solid $solid_gray;;
                    @include rounded(0 4px 4px 0);
                }
                .checkbox-wrapper {
                    width: 20px;
                }
                label {
                    width: calc(100% - 20px);
                    font-size: 14px;
                    cursor: pointer;
                    a {
                        text-decoration: underline;
                    }
                }
                @include breakpoint($xs)    {
                    input[type='email'] {
                        width: 65%;
                        font-size: 16px;
                        font-family: 'Calibri-Bold';
                    }
                    button[type='submit'] {
                        width: 35%;
                        font-size: 16px;
                        font-family: 'Calibri-Bold';
                    }
                }
            }
            &.not-valid {
                input[type='email'], button[type='submit'] {
                    border-color: red;
                    border-width: 2px;
                }
                .alert {
                    margin-top: 5px;
                    margin-bottom: 10px;
                }
            }
        }*/
        @include breakpoint($sm-down)   {
            padding-top: 10px;
        }
        @include breakpoint($xs)    {
            padding-bottom: 10px;
        }
    }
    .socials {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        ul {
            li {
                padding: 0 10px;
                img {
                    width: 25px;
                }
            }
        }
        @include breakpoint($sm-down)   {
            ul {
                li {
                    padding: 0 10px 10px;
                }
            }
        }
        @include breakpoint($xs)   {
            padding-bottom: 20px;
            padding-top: 20px;
            ul {
                font-size: 0;
                li {
                    width: 20%;
                }
            }
        }
    }
    .menu {
        text-align: center;
        padding-bottom: 30px;
        ul {
            li {
                padding: 0 20px;
                &.separator {
                    padding: 0 5px;
                }
                a {
                    color: $light_gray;
                    font-size: 18px;
                    font-weight: bold;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        @include breakpoint($xs)    {
            padding-bottom: 20px;
            ul {
                li {
                    padding: 3px 10px;
                    a {
                        font-size: 14px;
                    }
                    &.separator {
                        padding: 3px 0;
                    }
                }
            }
        }
    }
    .media-inquiries {
        text-align: center;
        padding-bottom: 15px;
        font-family: 'Calibri-Bold';
        a {
            text-decoration: underline;
        }
    }
    .all-rights {
        text-align: center;
        padding-bottom: 70px;
        font-size: 14px;
        color: $light_gray;
        a {
            text-decoration: underline;
        }
        @include breakpoint($xs)    {
            padding-bottom: 50px;
        }
    }
    @include breakpoint($xs) {
        padding-bottom: 200px;
    }
}

body.home {
    footer {
        border: 0;
    }
}

body.class-404 {
    footer {
        .section-title, .newsletter-register{
            display: none;
        }
    }
}