footer {
    border-top: 1px solid black;
    .section-title {
        padding-top: 30px;
    }
    .newsletter-register {
        padding-top: 10px;
        padding-bottom: 30px;
        .alert-success {
            max-width: 300px;
            margin: 0 auto;
        }
        .email-field {
            max-width: 300px;
            margin: 0 auto;
            font-size: 0;
            #mc_embed_signup_scroll {
                input[type='email'] {
                    width: calc(100% - 100px);
                    display: inline-block;
                    vertical-align: middle;
                    height: 40px;
                    font-size: 18px;
                    border: 1px solid #aaaaaa;
                    padding: 0 5px;
                    @include rounded(4px 0 0 4px);
                }
                .btn-container {
                    width: 100px;
                    display: inline-block;
                    vertical-align: middle;
                    input[type='submit'] {
                        height: 40px;
                        font-size: 18px;
                        background-color: black;
                        color: white;
                        display: block;
                        width: 100%;
                        border: 0;
                        @include rounded(0 4px 4px 0);
                    }
                }
            }
        }
        .checkbox-field {
            max-width: 300px;
            margin: 0 auto;
            text-align: left;
            padding-top: 10px;
            .custom-checkbox {
                margin: 0;
            }
        }
        @include breakpoint($sm-down)   {
            padding-top: 10px;
        }
        @include breakpoint($xs)    {
            padding-bottom: 10px;
        }
    }
    .socials {
        text-align: center;
        padding-top: 50px;
        padding-bottom: 30px;
        ul {
            li {
                padding: 0 10px;
                img {
                    width: 25px;
                }
            }
        }
        @include breakpoint($sm-down)   {
            ul {
                li {
                    padding: 0 10px 10px;
                }
            }
        }
        @include breakpoint($xs)   {
            padding-bottom: 20px;
            padding-top: 40px;
            ul {
                font-size: 0;
                li {
                    width: 20%;
                }
            }
        }
    }
    .menu {
        text-align: center;
        padding-bottom: 30px;
        ul {
            li {
                padding: 0 5px;
                position: relative;
                &.separator {
                    padding: 0 5px;
                }
                a {
                    color: $light_gray;
                    font-size: 18px;
                    font-family: 'Lato-Bold';
                    &:hover {
                        text-decoration: underline;
                    }
                    @include breakpoint($xs) {
                        font-family: 'Lato-Black';
                    }
                }
                .submenu {
                    padding: 10px;
                    position: absolute;
                    background-color: white;
                    width: 120px;
                    z-index: 50;
                    left: 0;
                    top: 100%;
                    text-align: left;
                    display: none;
                    @include box-shadow(0 2px 6px 0 rgba(0,0,0,.4));
                    li {
                        padding: 5px 0;
                    }
                }
                &.has-submenu {
                    background-image: url(/assets/images/angle-down-solid.svg);
                    background-repeat: no-repeat;
                    background-size: 10px auto;
                    background-position: center right 0;
                }
                &:hover {
                    .submenu {
                        display: block;
                    }
                }
                @include breakpoint($lgll) {
                    padding: 0 20px;
                }
            }
        }
        @include breakpoint($xs)    {
            padding-top: 20px;
            padding-bottom: 20px;
            ul {
                li {
                    padding: 3px 5px;
                    a {
                        font-size: 18px;
                    }
                    &.separator {
                        padding: 0 2px;
                    }
                }
            }
        }
    }
    .all-rights {
        text-align: center;
        padding-bottom: 20px;
        font-size: 14px;
        color: $light_gray;
        a {
            text-decoration: underline;
        }
        @include breakpoint($xs)    {
            padding-bottom: 50px;
            .separator {
                display: none;
            }
            .footer-bottom-link {
                font-size: 16px;
                display: block;
                text-decoration: underline;
                font-family: 'Lato-Black';
                margin-top: 5px;
            }
        }
    }
    &.black-style {
        border-top: 2px solid $light_gray;
        background-color: black;
        color: white;
        .menu {
            ul {
                li {
                    a {
                        color: white;
                    }
                }
            }
            .submenu {
                li {
                    a {
                        color: black;
                    }
                }
            }
        }
        .newsletter-register {
            a {
                color: white;
            }
            .email-field {
                #mc_embed_signup_scroll {
                    .btn-container {
                        input[type='submit'] {
                            background-color: white;
                            color: black;
                        }
                    }
                }
            }
        }
        .all-rights {
            color: white;
            a {
                color: white;
            }
        }
    }
}

body.class-404 {
    footer {
        .section-title, .newsletter-register{
            display: none;
        }
    }
}