header {
    padding-top: 30px;
    .logo-container {
        img {
            width: 40px;
        }
    }
}

body.home {
    overflow-x: hidden;
    header {
        top: 0;
        @include horizontal-align(absolute);
        @include breakpoint($xs)    {
            width: 100%;
        }
    }
}