header {
    padding-top: 30px;
    .logo-container {
        a {
            position: relative;
            .first-dot {
                display: none;
                &.logo-dot {
                    display: block;
                    @include vertical-horizontal-align(absolute);
                }
            }
            img {
                width: 40px;
            }
        }
    }
    .btn-container {
        text-align: right;
        .btn-and-line {
            text-align: center;
            min-width: 90px;
            a {
                display: block;
            }
        }
    }
    .show-on-mobile {
        display: none;
        @include breakpoint($sm-down) {
            display: inline-block;
        }
    }
    .hide-on-mobile {
        @include breakpoint($sm-down) {
            display: none;
        }
    }
    .logged-user-right-nav {
        > a {
            font-size: 16px;
            color: black;
            display: inline-block;
            padding: 15px 0;
            span {
                vertical-align: middle;
            }
            figure {
                width: 40px;
                margin-left: 10px;
                overflow: hidden;
                @include rounded(50%);
            }
        }
        .up-arrow {
            color: #669ccc;
            position: absolute;
            top: calc(100% - 15px);
            font-size: 16px;
            z-index: 5000000000;
            right: 30px;
            display: none;
            &.show-this {
                display: block;
            }
        }
        .hidden-box {
            display: none;
            visibility: hidden;
            position: absolute;
            min-width: 270px;
            max-width: 450px;
            top: 100%;
            right: 0;
            background-color: white;
            overflow: hidden;
            z-index: 50;
            @include box-shadow(0px 0px 7px 1px rgba(0, 0, 0, 0.5));
            @include rounded(15px);
            .hidden-box-hub {
                background-image: url('/assets/images/dentacoin-ecosystem-background.jpg');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                padding: 30px 50px 15px;
                text-align: left;
                .close-btn {
                    display: none;
                    text-align: right;
                    padding-bottom: 15px;
                    a {
                        font-size: 20px;
                        color: white;
                        span {
                            background: white;
                            color: black;
                            width: 25px;
                            height: 25px;
                            display: inline-block;
                            text-align: center;
                            line-height: 25px;
                            @include rounded(50%);
                        }
                    }
                }
                @include breakpoint($xs) {
                    .close-btn {
                        display: block;
                    }
                }
            }
            .hidden-box-footer {
                padding-top: 10px;
                padding-bottom: 10px;
                background: white;
                .white-blue-rounded-btn {
                    padding: 7px 15px;
                }
                .logout {
                    font-size: 16px;
                    color: black;
                    i {
                        font-size: 24px;
                        vertical-align: middle;
                        margin-right: 5px;
                    }
                }
            }
            &.show-this {
                display: block;
                visibility: visible;
            }
        }
        @include breakpoint($xs) {
            &.with-hub {
                position: static;
                .hidden-box {
                    min-width: 0;
                    max-width: none;
                    width: 100%;
                    top: 0;
                    height: 100vh;
                    background-color: rgba(0, 0, 0, 0.6);
                    overflow: auto;
                    .up-arrow {
                        display: none;
                    }
                    .hidden-box-hub {
                        padding: 10px 15px 15px;
                    }
                }
            }
        }
    }
}

body.home {
    overflow-x: hidden;
    header {
        top: 0;
        z-index: 50;
        @include horizontal-align(absolute);
        @include breakpoint($xs)    {
            width: 100%;
        }
    }
    &.logged-in {
        .logged-user-right-nav {
            > a {
                span {
                    color: white;
                }
            }
        }
    }
}

body.foundation {
    overflow-x: hidden;
    header {
        top: 0;
        z-index: 50;
        @include horizontal-align(absolute);
        @include breakpoint($xs)    {
            width: 100%;
        }
    }
}

body.forgotten-password, body.password-recover {
    header {
        padding-bottom: 15px;
    }
}