.white-dark-blue-btn, .platform-custom-button {
    background-color: $dark_blue;
    color: white !important;;
    font-size: 16px;
    padding: 6px 15px;
    font-weight: bold;
    border: 2px solid $dark_blue;
    text-decoration: none !important;
    @include rounded(4px);
    @include simple_transition(.3s);
    &:hover {
        color: $dark_blue !important;
        background-color: white;
        text-decoration: none !important;
    }
    &.platform-custom-button {
        display: inline-block;
    }
}

.dark-blue-white-btn {
    background-color: white;
    color: $dark_blue;
    font-size: 16px;
    padding: 6px 15px;
    font-weight: bold;
    border: 2px solid $dark_blue;
    text-decoration: none;
    @include rounded(4px);
    @include simple_transition(.3s);
    &:hover {
        color: white;
        background-color: $dark_blue;
        text-decoration: none;
    }
}

.white-black-btn, input[type='submit'].white-black-btn {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 6px 15px;
    font-weight: bold;
    border: 2px solid black;
    @include rounded(4px);
    @include simple_transition(.3s);
    &:hover {
        color: black;
        background-color: white;
    }
}

.black-white-btn, input[type='submit'].black-white-btn {
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 6px 15px;
    font-weight: bold;
    border: 2px solid black;
    @include rounded(4px);
    @include simple_transition(.3s);
    &:hover {
        color: white;
        background-color: black;
        border: 2px solid white;
    }
}

.white-blue-btn {
    background-color: $light_blue;
    color: white;
    font-size: 16px;
    padding: 6px 15px;
    display: inline-block;
    font-weight: bold;
    border: 2px solid white;
    @include simple_transition(.3s);
    &:hover {
        color: $light_blue;
        background-color: white;
    }
}

.white-blue-rounded-btn, input[type='submit'].white-blue-rounded-btn {
    background-color: $dark_blue;
    color: white;
    font-size: 20px;
    display: inline-block;
    padding: 12px 24px;
    font-weight: bold;
    border: 2px solid white;
    cursor: pointer;
    @include rounded(12px);
    @include simple_transition(.3s);
    &:hover {
        background-color: $light_blue;
        border: 2px solid $light_blue;
        color: white;
    }
    @include breakpoint($sm-down)   {
        padding: 10px 32px;
    }
}

.blue-white-rounded-btn, input[type='submit'].blue-white-rounded-btn {
    background-color: white;
    color: $light_blue;
    border: 2px solid $light_blue;
    font-size: 20px;
    display: inline-block;
    padding: 12px 24px; 
    font-weight: bold;
    cursor: pointer;
    @include rounded(4px);
    @include simple_transition(.3s);
    &:hover {
        color: white;
        background-color: $light_blue;
    }
    @include breakpoint($sm-down)   {
        padding: 10px 32px;
    }
}

.white-dark-blue-btn {
    font-size: 20px;
    color: white;
    background-color: $dark_blue;
    padding: 10px 20px;
    font-family: 'Calibri-Bold';
    border: 2px solid $dark_blue;
    display: inline-block;
    @include rounded(4px);
    @include simple_transition(.3s);
    &:hover {
        color: $dark_blue;
        background-color: white;
    }
    &:focus {
        color: white;
    }
}

.dark-blue-white-btn {
    font-size: 20px;
    color: $dark_blue;
    background-color: white;
    padding: 10px 20px;
    font-family: 'Calibri-Bold';
    border: 2px solid white;
    display: inline-block;
    @include rounded(4px);
    @include simple_transition(.3s);
    &:hover {
        color: white;
        background-color: $dark_blue;
    }
    &:focus {
        color: $dark_blue;
    }
    &.blue-border {
        border: 2px solid $dark_blue;
    }
}

.custom-input {
    width: 100%;
    padding: 12px 15px;
    background-color: white;
    font-size: 16px;
    font-family: 'Calibri-Regular';
    border: 0;
    @include rounded(4px);
    @include box-shadow(0px 2px 10px 0 rgba(0, 0, 0, 0.2));
    @include simple_transition(.3s);
    &:focus {
        @include box-shadow(0px 2px 10px 0 #679dca);
    }
    @include breakpoint($sm-down) {
        border: 1px solid #E0E0E0;
    }
}

.social-login-btn {
    background-color: white;
    width: 100%;
    display: inline-block;
    text-align: left;
    color: black;
    font-size: 20px;
    padding: 10px 15px 10px 60px;
    max-width: 350px;
    margin: 0 auto;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 30px auto;
    background-position: center left 15px;
    @include rounded(4px);
    &.civic-custom-btn {
        background-image: url(/assets/images/civic.svg);
        border: 1px solid #3bb03f;
    }
    &.facebook-custom-btn {
        background-color: #4267B2;
        color: white;
        padding: 10px 15px;
    }
}

.error-handle, .alert.alert-warning {
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #a94442;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 14px;
    padding: 5px;
    @include rounded(4px);
    &.alert.alert-warning {
        display: none;
    }
}

.alert.alert-notice {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 14px;
    padding: 5px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    display: none;
    @include rounded(4px);
}

.section-title {
    color: $dark_gray;
    font-size: 35px;
    font-family: "Lato-Bold";
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    @include breakpoint($xs)    {
        font-size: 22px;
    }
}

.page-h1-title {
    color: $dark_gray;
    font-size: 44px;
    font-family: "Lato-Bold";
    text-align: center;
    text-transform: uppercase;
    @include breakpoint($xs)    {
        font-size: 32px;
    }
}

.section-title-no-text-center {
    color: $dark_gray;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    @include breakpoint($xs)    {
        font-size: 22px;
    }
}

.section-subtitle {
    color: black;
    font-size: 35px;
    font-family: "Lato-Bold";
}

.section-subtitle-uppercase {
    color: black;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
}

.section-description {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
}

.paragraph-text {
    color: $light_gray;
    font-size: 16px;
}

.main-color {
    color: $main_color;
}

.dark-gray {
    color: $dark_gray;
}

.light-blue {
    color: $light_blue;
}

.light-gray {
    color: $light_gray;
}

.solid-gray {
    color: $solid_gray;
}

.module {
    &.profile-menu {
        li {
            a {
                display: block;
                font-size: 16px;
                padding: 10px;
                color: $main_color;
                border-left: 3px solid transparent;
                @include simple_transition(.3s);
                &.active {
                    border-left: 3px solid $dark_blue;
                    background: #f0f9ff;
                    color: $dark_blue;
                }
                &:hover {
                    border-left: 3px solid $dark_blue;
                    background: #f0f9ff;
                    color: $dark_blue;
                }
                figure {
                    padding-right: 10px;
                    padding-left: 10px;
                    vertical-align: middle;
                    img {
                        width: 20px;
                    }
                }
                span {
                    vertical-align: middle;
                }
            }
        }
    }
    &.avatar {
        input[type="file"] {
            display: none;
        }
        .btn-wrapper {
            display: block;
            width: 100%;
            padding: 0;
            border: 0;
            margin: 0;
            label {
                background-color: #e3e3e3;
                border: 2px dashed #777777;
                color: #777777;
                width: 100%;
                padding-top: 100%;
                display: block;
                position: relative;
                text-align: center;
                margin-bottom: 0;
                cursor: pointer;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                .inner {
                    left: 0;
                    width: 100%;
                    @include vertical-align(absolute);
                    i {
                        font-size: 30px;
                    }
                    .inner-label {
                        font-size: 18px;
                        padding: 0 10px;
                        @include breakpoint($xs) {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        #cropper-container.width-and-height {
            width: 180px;
            height: 180px;
        }
        .max-size-label {
            label {
                display: none;
                cursor: pointer;
            }
            &.active {
                margin-top: 40px !important;
                label {
                    display: inline-block;
                }
            }
        }
    }
    &.suggester-parent {
        .suggester-map-div {
            height: 200px;
            display: none;
            background: transparent;
        }
    }
    &.custom-google-label-style {
        position: relative;
        label {
            position: absolute;
            font-size: 16px !important;
            cursor: pointer;
            margin: 0;
            width: calc(100% - 20px) !important;
            padding-bottom: 10px !important;
            padding-top: 10px !important;
            background-color: white;
            left: 10px;
            color: #888888;
            font-weight: normal;
            top: 50%;
            font-family: 'Calibri-Regular';
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            @include rounded(4px);
            @include simple_transition(.3s);
            &.active-label {
                width: auto !important;
                font-size: 14px !important;
                top: -8px;
                padding: 0 5px !important;
                -webkit-transform: none;
                -ms-transform: none;
                transform: none;
                color: $dark_blue;
                font-weight: bold;
            }
        }
        .left-side {
            width: calc(100% - 100px);
            position: relative;
            &.error-field {
                input, label {
                    color: red;
                }
            }
        }
        input {
            border: 2px solid #dddddd;
            cursor: pointer;
            font-size: 16px;
            font-family: 'Lato-Regular';
            width: 100%;
            padding: 10px 15px;
            @include rounded(4px 0 0 4px);
            &.full-rounded {
                @include rounded(4px);
            }
            &.blue-green-border {
                border: 2px solid $dark_blue;
            }
        }
        span {
            width: 100px;
            text-align: center;
            padding-top: 12px;
            font-size: 18px;
            font-family: 'Lato-Regular';
            color: $main_color;
            background-color: #dddddd;
            @include rounded(0 4px 4px 0);
        }
    }
    &.custom-google-select-style {
        position: relative;
        label {
            width: auto !important;
            font-size: 14px !important;
            top: -8px;
            padding: 0 5px !important;
            -webkit-transform: none;
            -ms-transform: none;
            transform: none;
            color: $dark_blue;
            font-weight: bold;
            position: absolute;
            cursor: pointer;
            margin: 0;
            background-color: white;
            left: 10px;
            @include rounded(4px);
            @include simple_transition(.3s);
        }
        select {
            background-image: url('/assets/images/select-arrow.svg');
            background-position: top 50% right 10px;
            background-size: 15px;
            background-repeat: no-repeat;
            border: 2px solid $dark_blue;
            cursor: pointer;
            font-size: 16px;
            font-family: 'Lato-Regular';
            width: 100%;
            padding: 10px 30px 10px 15px;
            -webkit-appearance: initial;
            @include rounded(4px);
        }
    }
}