.white-dark-blue-btn {
    background-color: $dark_blue;
    color: white !important;;
    font-size: 16px;
    padding: 6px 15px;
    font-weight: bold;
    border: 2px solid $dark_blue;
    text-decoration: none !important;
    @include rounded(4px);
    @include simple_transition(.3s);
    &:hover {
        color: $dark_blue !important;
        background-color: white;
        text-decoration: none !important;
    }
}

.dark-blue-white-btn {
    background-color: white;
    color: $dark_blue;
    font-size: 16px;
    padding: 6px 15px;
    font-weight: bold;
    border: 2px solid $dark_blue;
    text-decoration: none;
    @include rounded(4px);
    @include simple_transition(.3s);
    &:hover {
        color: white;
        background-color: $dark_blue;
        text-decoration: none;
    }
}

.white-black-btn {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 6px 15px;
    font-weight: bold;
    border: 2px solid black;
    @include rounded(4px);
    @include simple_transition(.3s);
    &:hover {
        color: black;
        background-color: white;
    }
}

.black-white-btn {
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 6px 15px;
    font-weight: bold;
    border: 2px solid black;
    @include rounded(4px);
    @include simple_transition(.3s);
    &:hover {
        color: white;
        background-color: black; 
    }
}

.white-blue-btn {
    background-color: $light_blue;
    color: white;
    font-size: 16px;
    padding: 6px 15px;
    font-weight: bold;
    border: 2px solid white;
    @include simple_transition(.3s);
    &:hover {
        color: $light_blue;
        background-color: white;
    }
}

.white-blue-rounded-btn, input[type='submit'].white-blue-rounded-btn {
    background-color: $light_blue;
    color: white;
    font-size: 16px;
    padding: 8px 24px;
    font-weight: bold;
    border: 2px solid white;
    cursor: pointer;
    @include rounded(4px);
    @include simple_transition(.3s);
    &:hover {
        color: $light_blue;
        background-color: white;
        border: 2px solid $light_blue;
    }
    @include breakpoint($sm-down)   {
        padding: 10px 32px;
    }
}

.blue-white-rounded-btn, input[type='submit'].blue-white-rounded-btn {
    background-color: white;
    color: $light_blue;
    border: 2px solid $light_blue;
    font-size: 16px;
    padding: 8px 24px; 
    font-weight: bold;
    cursor: pointer;
    @include rounded(4px);
    @include simple_transition(.3s);
    &:hover {
        color: white;
        background-color: $light_blue;
    }
    @include breakpoint($sm-down)   {
        padding: 10px 32px;
    }
}

.section-title {
    color: $dark_gray;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    @include breakpoint($xs)    {
        font-size: 22px;
    }
}

.page-h1-title {
    color: $dark_gray;
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    @include breakpoint($xs)    {
        font-size: 32px;
    }
}

.section-title-no-text-center {
    color: $dark_gray;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    @include breakpoint($xs)    {
        font-size: 22px;
    }
}

.section-subtitle {
    color: black;
    font-size: 35px;
    font-weight: bold;
}

.section-subtitle-uppercase {
    color: black;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
}

.paragraph-text {
    color: $light_gray;
    font-size: 16px;
}

.main-color {
    color: $main_color;
}

.dark-gray {
    color: $dark_gray;
}

.light-blue {
    color: $light_blue;
}

.light-gray {
    color: $light_gray;
}

.solid-gray {
    color: $solid_gray;
}