.platform-custom-button {
    background-color: $dark_blue;
    color: white !important;
    font-size: 16px;
    padding: 6px 15px;
    font-family: "Lato-Bold";
    border: 1.5px solid $dark_blue;
    text-decoration: none !important;
    cursor: pointer;
    @include rounded(4px);
    @include simple_transition(.3s);
    &.platform-custom-button {
        display: inline-block;
    }
    @include breakpoint($md) {
        &:hover {
            color: $dark_blue !important;
            background-color: white;
            text-decoration: none !important;
        }
    }
}

.white-purple-btn {
    font-size: 20px;
    color: white;
    background-color: #ff0046;
    padding: 15px 70px 15px 30px;
    font-family: "Lato-Black";
    position: relative;
    @include rounded(4px);
    &:hover {
        color: white;
    }
    &.with-white-arrow {
        &:after {
            content: '';
            width: 80px;
            height: 90px;
            background-image: url('/assets/images/right-btn-arrow.png');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            right: -20px;
            @include vertical-align(absolute);
        }
    }
    &.with-list-icon {
        &:after {
            content: '';
            width: 80px;
            height: 90px;
            background-image: url('/assets/images/mobile-map-list-icon.png');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            left: -20px;
            @include vertical-align(absolute);
        }
    }
    &.with-map-pin {
        &:after {
            content: '';
            width: 80px;
            height: 90px;
            background-image: url('/assets/images/mobile-map-icon.png');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            left: -20px;
            @include vertical-align(absolute);
        }
    }
}

.white-bright-blue-btn, input[type='submit'].white-bright-blue-btn {
    background-color: $bright_blue;
    color: white !important;
    font-size: 20px;
    padding: 10px 20px;
    font-family: "Lato-Bold";
    border: 1.5px solid $bright_blue;
    text-decoration: none !important;
    cursor: pointer;
    @include rounded(4px);
    @include simple_transition(.3s);
    &.platform-custom-button {
        display: inline-block;
    }
    @include breakpoint($md) {
        &:hover {
            color: $bright_blue !important;
            background-color: white;
            text-decoration: none !important;
        }
    }
}

.bright-blue-white-btn, input[type='submit'].bright-blue-white-btn {
    background-color: white;
    color: $bright_blue !important;
    font-size: 20px;
    padding: 10px 20px;
    font-family: "Lato-Bold";
    border: 1.5px solid $bright_blue;
    text-decoration: none !important;
    cursor: pointer;
    @include rounded(4px);
    @include simple_transition(.3s);
    &.platform-custom-button {
        display: inline-block;
    }
    @include breakpoint($md) {
        &:hover {
            color: white !important;
            background-color: $bright_blue;
            text-decoration: none !important;
            &.with-border {
                border: 1.5px solid white;
            }
        }
    }
}

.white-black-btn, input[type='submit'].white-black-btn {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 6px 15px;
    font-family: "Lato-Bold";
    border: 1.5px solid black;
    cursor: pointer;
    @include rounded(4px);
    @include simple_transition(.3s);
    &:hover {
        color: black;
        background-color: white;
    }
}

.black-white-btn, input[type='submit'].black-white-btn {
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 6px 15px;
    font-family: "Lato-Bold";
    border: 1.5px solid black;
    cursor: pointer;
    @include rounded(4px);
    @include simple_transition(.3s);
    &:hover {
        color: white;
        background-color: black;
    }
}

.white-blue-btn {
    background-color: $light_blue;
    color: white;
    font-size: 16px;
    padding: 6px 15px;
    display: inline-block;
    font-family: "Lato-Bold";
    border: 1.5px solid white;
    cursor: pointer;
    @include simple_transition(.3s);
    &:hover {
        color: $light_blue;
        background-color: white;
    }
}

.white-blue-rounded-btn, input[type='submit'].white-blue-rounded-btn {
    background-color: $dark_blue;
    color: white;
    font-size: 20px;
    display: inline-block;
    padding: 12px 24px;
    font-family: "Lato-Bold";
    border: 1.5px solid white;
    cursor: pointer;
    @include rounded(12px);
    @include simple_transition(.3s);
    &:hover {
        background-color: $light_blue;
        border: 1.5px solid $light_blue;
        color: white;
    }
    @include breakpoint($sm-down)   {
        padding: 10px 32px;
    }
}

.white-light-blue-rounded-btn, input[type='submit'].white-light-blue-rounded-btn {
    background-color: $light_blue;
    color: white;
    font-size: 20px;
    display: inline-block;
    padding: 12px 24px;
    font-family: "Lato-Bold";
    border: 1.5px solid white;
    cursor: pointer;
    @include rounded(12px);
    @include simple_transition(.3s);
    &:hover {
        background-color: $dark_blue;
        border: 1.5px solid $dark_blue;
        color: white;
    }
    @include breakpoint($sm-down)   {
        padding: 10px 32px;
    }
}

.blue-white-rounded-btn, input[type='submit'].blue-white-rounded-btn {
    background-color: white;
    color: $light_blue;
    border: 1.5px solid $light_blue;
    font-size: 20px;
    display: inline-block;
    padding: 12px 24px; 
    font-family: "Lato-Bold";
    cursor: pointer;
    @include rounded(4px);
    @include simple_transition(.3s);
    &:hover {
        color: white;
        background-color: $light_blue;
    }
    @include breakpoint($sm-down)   {
        padding: 10px 32px;
    }
}

.white-dark-blue-btn {
    font-size: 20px;
    color: white;
    background-color: $dark_blue;
    padding: 10px 20px;
    font-family: 'Lato-Bold';
    border: 1.5px solid $dark_blue;
    display: inline-block;
    cursor: pointer;
    @include rounded(4px);
    @include simple_transition(.3s);
    &:hover {
        color: $dark_blue;
        background-color: white;
    }
    &:focus {
        color: white;
    }
}

.dark-blue-white-btn {
    font-size: 20px;
    color: $dark_blue;
    background-color: white;
    padding: 10px 20px;
    font-family: 'Lato-Bold';
    border: 1.5px solid white;
    display: inline-block;
    cursor: pointer;
    @include rounded(4px);
    @include simple_transition(.3s);
    &:hover {
        color: white;
        background-color: $dark_blue;
    }
    &:focus {
        color: $dark_blue;
    }
    &.blue-border {
        border: 1.5px solid $dark_blue;
    }
}

.custom-input {
    width: 100%;
    padding: 12px 15px;
    background-color: white;
    font-size: 16px;
    font-family: 'Calibri-Regular';
    border: 0;
    cursor: pointer;
    @include rounded(4px);
    @include box-shadow(0px 2px 10px 0 rgba(0, 0, 0, 0.2));
    @include simple_transition(.3s);
    &:focus {
        @include box-shadow(0px 2px 10px 0 #679dca);
    }
    @include breakpoint($sm-down) {
        border: 1px solid #E0E0E0;
    }
}

.social-login-btn {
    background-color: white;
    width: 100%;
    display: inline-block;
    text-align: left;
    color: black;
    font-size: 20px;
    padding: 10px 15px 10px 60px;
    max-width: 350px;
    margin: 0 auto;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 30px auto;
    background-position: center left 15px;
    @include rounded(4px);
    &.civic-custom-btn {
        background-image: url(/assets/images/civic.svg);
        border: 1px solid #3bb03f;
    }
    &.facebook-custom-btn {
        background-color: #4267B2;
        color: white;
        padding: 10px 15px;
    }
}

.error-handle, .alert.alert-warning {
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #a94442;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 14px;
    padding: 5px;
    @include rounded(4px);
    &.alert.alert-warning {
        display: none;
    }
}

.alert.alert-notice {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 14px;
    padding: 5px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    display: none;
    @include rounded(4px);
}

.success-handle {
    border: 1px solid #d6e9c6;
    color: #3c763d;
    background-color: #dff0d8;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 14px;
    padding: 5px;
    @include rounded(4px);
}

.section-title {
    color: $dark_gray;
    font-size: 35px;
    font-family: "Lato-Bold";
    text-align: center;
    text-transform: uppercase;
    @include breakpoint($xs)    {
        font-size: 22px;
    }
}

.page-h1-title {
    color: $dark_gray;
    font-size: 44px;
    font-family: "Lato-Bold";
    text-align: center;
    text-transform: uppercase;
    @include breakpoint($xs)    {
        font-size: 32px;
    }
}

.section-title-no-text-center {
    color: $dark_gray;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    @include breakpoint($xs)    {
        font-size: 22px;
    }
}

.section-subtitle {
    color: black;
    font-size: 35px;
    font-family: "Lato-Bold";
}

.section-subtitle-uppercase {
    color: black;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
}

.section-description {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
}

.paragraph-text {
    color: $light_gray;
    font-size: 16px;
}

.main-color {
    color: $main_color;
}

.dark-gray {
    color: $dark_gray;
}

.light-blue {
    color: $light_blue;
}

.light-gray {
    color: $light_gray;
}

.solid-gray {
    color: $solid_gray;
}

.module {
    &.profile-menu {
        li {
            a {
                display: block;
                font-size: 16px;
                padding: 10px;
                color: $main_color;
                border-left: 3px solid transparent;
                @include simple_transition(.3s);
                &.active {
                    border-left: 3px solid $dark_blue;
                    background: #f0f9ff;
                    color: $dark_blue;
                }
                &:hover {
                    border-left: 3px solid $dark_blue;
                    background: #f0f9ff;
                    color: $dark_blue;
                }
                figure {
                    padding-right: 10px;
                    padding-left: 10px;
                    vertical-align: middle;
                    img {
                        width: 20px;
                    }
                }
                span {
                    vertical-align: middle;
                }
            }
        }
    }
    &.custom-google-label-style {
        position: relative;
        label {
            position: absolute;
            font-size: 16px !important;
            cursor: pointer;
            margin: 0;
            width: calc(100% - 20px) !important;
            padding-bottom: 10px !important;
            padding-top: 10px !important;
            background-color: white;
            left: 10px;
            color: #888888;
            font-weight: normal;
            top: 50%;
            font-family: 'Calibri-Regular';
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            @include rounded(4px);
            @include simple_transition(.3s);
            &.active-label {
                width: auto !important;
                font-size: 14px !important;
                top: -8px;
                padding: 0 5px !important;
                -webkit-transform: none;
                -ms-transform: none;
                transform: none;
                color: $dark_blue;
                font-weight: bold;
            }
        }
        .left-side {
            width: calc(100% - 100px);
            position: relative;
            &.error-field {
                input, label {
                    color: red;
                }
            }
        }
        input {
            border: 2px solid #dddddd;
            cursor: pointer;
            font-size: 16px;
            font-family: 'Lato-Regular';
            width: 100%;
            padding: 10px 15px;
            @include rounded(4px 0 0 4px);
            &.full-rounded {
                @include rounded(4px);
            }
            &.blue-green-border {
                border: 2px solid $dark_blue;
            }
        }
        span {
            width: 100px;
            text-align: center;
            padding-top: 12px;
            font-size: 18px;
            font-family: 'Lato-Regular';
            color: $main_color;
            background-color: #dddddd;
            @include rounded(0 4px 4px 0);
        }
    }
    &.custom-google-select-style {
        position: relative;
        label {
            width: auto !important;
            font-size: 14px !important;
            top: -8px;
            padding: 0 5px !important;
            -webkit-transform: none;
            -ms-transform: none;
            transform: none;
            color: $dark_blue;
            font-weight: bold;
            position: absolute;
            cursor: pointer;
            margin: 0;
            background-color: white;
            left: 10px;
            @include rounded(4px);
            @include simple_transition(.3s);
        }
        select {
            background-image: url('/assets/images/select-arrow.svg');
            background-position: top 50% right 10px;
            background-size: 15px;
            background-repeat: no-repeat;
            border: 2px solid $dark_blue;
            cursor: pointer;
            font-size: 16px;
            font-family: 'Lato-Regular';
            width: 100%;
            padding: 10px 30px 10px 15px;
            -webkit-appearance: initial;
            @include rounded(4px);
        }
    }
    &.upload-file {
        .upload-input {
            display: none;
        }
    }
    &.custom-checkbox-style {
        font-size: 0;
        position: relative;
        input[type="checkbox"] {
            display: none !important;
        }
        .custom-checkbox {
            width: 20px;
            height: 20px;
            border: 1px solid #bdc3c7;
            display: inline-block;
            vertical-align: middle;
            background-color: white;
            color: $bright_blue;
            font-size: 16px;
            text-align: center;
            line-height: 20px;
            -webkit-border-radius: 20%;
            -moz-border-radius: 20%;
            -ms-border-radius: 20%;
            border-radius: 20%;
            font-weight: bold;
        }
        label {
            cursor: pointer;
        }
        .custom-checkbox-label {
            font-size: 16px;
            padding-left: 10px;
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
            font-weight: normal;
            margin: 0;
            a {
                text-decoration: underline;
            }
        }
        &.white-colorful-style {
            .custom-checkbox {
                border: 1px solid $bright_blue;
                color: white;
                background-color: $bright_blue;
            }
        }
    }
    &.video-expressions-slider {
        .slick-prev {
            position: absolute;
            left: -15px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            background: url(/assets/images/left-arrow.svg);
            background-size: auto 100%;
            z-index: 3;
            background-position: center;
            background-repeat: no-repeat;
            width: 30px;
            height: 30px;
            display: block;
            font-size: 0;
            border: 0;
            cursor: pointer;
            &:focus {
                outline: none;
            }
            @include breakpoint($xs) {
                left: 0;
            }
        }
        .slick-next {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            background: url(/assets/images/right-arrow.svg);
            right: -15px;
            background-size: auto 100%;
            z-index: 3;
            background-position: center;
            background-repeat: no-repeat;
            width: 30px;
            height: 30px;
            display: block;
            font-size: 0;
            border: 0;
            cursor: pointer;
            &:focus {
                outline: none;
            }
            @include breakpoint($xs) {
                right: 0;
            }
        }
        .slick-list {
            overflow-x: hidden;
            overflow-y: visible;
            padding: 7.5% 0;
            .slick-track {
                display: flex !important;
                .single-slide {
                    position: relative;
                    padding: 15px;
                    height: inherit !important;
                    &:focus {
                        outline: none;
                    }
                    .video-thumb {
                        figure {
                            img {
                                width: 100%;
                                opacity: 0.6;
                                @include breakpoint($xs) {
                                    opacity: 1;
                                }
                            }
                        }
                        .youtube-play-button {
                            z-index: 150;
                            @include vertical-horizontal-align(absolute);
                        }
                        @include breakpoint($xs) {
                            &.visibility-hidden {
                                display: none;
                            }
                        }
                    }
                    .slide-wrapper {
                        iframe {
                            max-width: 150%;
                            height: 100%;
                            z-index: 100;
                            opacity: 1;
                            border: 0;
                            @include box-shadow(0 5px 20px 2px rgba(0,0,0,.5));
                            @include vertical-horizontal-align(absolute);
                            @include breakpoint($xs) {
                                max-width: 100%;
                                height: 220px !important;
                                position: static;
                                @include box-shadow(none);
                                @include clear_transform();
                            }
                        }
                    }
                    &.slick-active {
                        &.before-middle {
                            .slide-wrapper {
                                &:before {
                                    content: '';
                                    width: 12px;
                                    height: 12px;
                                    background-color: black;
                                    position: absolute;
                                    top: 2px;
                                    left: 77px;
                                    -webkit-transform: translateY(-50%);
                                    -ms-transform: translateY(-50%);
                                    transform: translateY(-50%);
                                    @include rounded(50%);
                                    @include breakpoint($xs) {
                                        display: none;
                                    }
                                }
                            }
                            &:before {
                                content: '';
                                width: 2px;
                                height: 70px;
                                background-color: black;
                                top: 2px;
                                left: 2px;
                                position: absolute;
                                @include breakpoint($xs) {
                                    display: none;
                                }
                            }
                            &:after {
                                content: '';
                                height: 2px;
                                width: 70px;
                                background-color: black;
                                top: 2px;
                                left: 2px;
                                position: absolute;
                                @include breakpoint($xs) {
                                    display: none;
                                }
                            }
                        }
                        &.after-middle {
                            color: blue;
                            .slide-wrapper {
                                &:before {
                                    content: '';
                                    width: 12px;
                                    height: 12px;
                                    background-color: black;
                                    position: absolute;
                                    bottom: 2px;
                                    right: 77px;
                                    -webkit-transform: translateY(50%);
                                    -ms-transform: translateY(50%);
                                    transform: translateY(50%);
                                    @include rounded(50%);
                                    @include breakpoint($xs) {
                                        display: none;
                                    }
                                }
                            }
                            &:before {
                                content: '';
                                width: 2px;
                                height: 70px;
                                background-color: black;
                                bottom: 2px;
                                right: 2px;
                                position: absolute;
                                @include breakpoint($xs) {
                                    display: none;
                                }
                            }
                            &:after {
                                content: '';
                                height: 2px;
                                width: 70px;
                                background-color: black;
                                bottom: 2px;
                                right: 2px;
                                position: absolute;
                                @include breakpoint($xs) {
                                    display: none;
                                }
                            }
                        }
                    }
                    &.middle-slide {
                        .video-thumb {
                            figure {
                                img {
                                    width: 150%;
                                    max-width: 150%;
                                    z-index: 100;
                                    opacity: 1;
                                    @include box-shadow(0 5px 20px 2px rgba(0,0,0,.5));
                                    @include vertical-horizontal-align(absolute);
                                    @include breakpoint($xs) {
                                        max-width: none;
                                        width: 100%;
                                        @include box-shadow(none);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            @include breakpoint($xs) {
                padding: 0;
            }
        }
    }
    &.user-expressions-slider-parent {
        background-image: url('/assets/images/quotes.png');
        background-position: top 30px center;
        background-repeat: no-repeat;
        .user-expressions-slider {
            padding-left: 40px;
            padding-right: 40px;
            width: 125% !important;
            .single-slide {
                padding-left: 25px;
                padding-right: 25px;
                padding-bottom: 50px;
                &:focus {
                    outline: none;
                }
                .slide-wrapper {
                    border: 2px solid black;
                    padding: 45px 35px;
                    position: relative;
                    @include rounded(20px);
                    .person-avatar {
                        width: 180px;
                        padding: 10px 15px;
                        text-align: right;
                        position: absolute;
                        background: white;
                        border-radius: 10px;
                        left: -20px;
                        bottom: 0;
                        -webkit-transform: translateY(50%);
                        -ms-transform: translateY(50%);
                        transform: translateY(50%);
                        &:before {
                            content: '';
                            position: absolute;
                            top: 10px;
                            left: 20px;
                            width: 12px;
                            height: 12px;
                            background-color: black;
                            -webkit-transform: translateX(-50%);
                            -ms-transform: translateX(-50%);
                            transform: translateX(-50%);
                            @include rounded(50%);
                        }
                        figure {
                            float: right;
                            border: 2px solid #000;
                            width: 80px;
                            height: 80px;
                            overflow: hidden;
                            position: relative;
                            @include rounded(50%);
                            img {
                                @include vertical-horizontal-align(absolute);
                            }
                        }
                    }
                }
            }
            .slick-dots {
                text-align: center;
                padding-top: 20px;
                padding-bottom: 50px;
                width: 80%;
                > li {
                    display: inline-block;
                    padding-left: 5px;
                    padding-right: 5px;
                    button {
                        font-size: 0;
                        width: 20px;
                        height: 20px;
                        background-color: #dedede;
                        @include rounded(50%);
                        @include simple_transition(.3s);
                        &:focus {
                            outline: none;
                        }
                    }
                    &.slick-active {
                        button {
                            background-color: $bright_blue;
                        }
                    }
                }
                @include breakpoint($xs) {
                    width: 100%;
                }
            }
        }
        @include breakpoint($xs) {
            background-position: top 10px right 50px;
            background-repeat: no-repeat;
            background-size: 40px;
            .user-expressions-slider {
                width: 100% !important;
                padding-left: 0;
                padding-right: 0;
                .single-slide {
                    padding-left: 10px;
                    padding-right: 10px;
                    .slide-wrapper {
                        padding: 25px 25px 40px 25px;
                        .person-avatar {
                            width: 120px;
                            figure {
                                width: 50px;
                                height: 50px;
                            }
                        }
                    }
                }
            }
        }
    }
    &.section-dentacoin-stats {
        .single {
            width: 25%;
            padding-left: 10px;
            padding-right: 10px;
            @include breakpoint($sm-down) {
                width: 100%;
                padding-bottom: 50px;
            }
        }
    }
    &.section-google-map {
        .header-filter-line {
            background-color: $bright_blue;
            .dropdown.bootstrap-select {
                max-width: 450px;
                .dropdown-header {
                    font-size: 20px !important;
                    font-family: "Lato-Bold";
                }
                .dropdown-menu .divider {
                    display: none;
                }
                .dropdown-menu li {
                    font-size: 16px;
                }
                .disabled {
                    .check-mark {
                        display: none;
                    }
                }
            }
        }
        .picker-and-map {
            .left-picker {
                width: 500px;
                @include breakpoint($lgll) {
                    width: 700px;
                }
                @include breakpoint($md-only) {
                    width: 400px;
                }
                @include breakpoint($sm-down) {
                    width: 100%;
                    display: none;
                }
                .inner-gray-line {
                    background-color: #e8e8e8;
                    height: 40px;
                    line-height: 40px;
                    .picker-value {
                        span {
                            color: #ec1e4c;
                        }
                    }
                }
                .results-list {
                    padding: 15px 10px 50px;
                    max-height: 460px;
                    overflow-y: auto;
                    position: relative;
                    @include breakpoint($xs) {
                        max-height: 400px;
                    }
                    .locations-count {
                        color: #bbbbbb;
                    }
                    .results-nav {
                        padding: 10px;
                        .nav-item {
                            color: #bbbbbb;
                        }
                        .continents-nav, .countries-nav, .locations-nav {
                            display: none;
                            &.shown {
                                display: block;
                            }
                        }
                    }
                    .continents-list {
                        .countries-list {
                            display: none;
                        }
                        ul {
                            li {
                                .continent-and-country-style-type {
                                    font-size: 28px;
                                    font-family: 'Lato-Black';
                                    display: block;
                                    padding: 5px 10px;
                                    margin: 15px 10px;
                                    border: 3px solid transparent;
                                    @include rounded(4px);
                                    @include box-shadow(0px 0px 7px 1px rgba(0, 0, 0, 0.15));
                                    @include simple_transition(.5s);
                                    .element-name {
                                        width: calc(100% - 150px);
                                        font-size: 28px;
                                    }
                                    .locations-count {
                                        text-align: right;
                                        width: 150px;
                                    }
                                    &:hover {
                                        border: 3px solid #ff0046;
                                    }
                                    @include breakpoint($xs) {
                                        font-size: 22px;
                                        margin: 10px 0;
                                        .element-name {
                                            width: calc(100% - 150px);
                                            font-size: 22px;
                                        }
                                    }
                                }
                                .locations-category-list {
                                    display: none;
                                    li {
                                        &.closed {
                                            .category-toggle-button {
                                                &.partners {
                                                    span {
                                                        i {
                                                            color: #ff0046;
                                                        }
                                                    }
                                                    &:after {
                                                        background-color: #ff0046;
                                                    }
                                                }
                                                &.labs {
                                                    span {
                                                        i {
                                                            color: $bright_blue;
                                                        }
                                                    }
                                                    &:after {
                                                        background-color: $bright_blue;
                                                    }
                                                }
                                                &.suppliers {
                                                    span {
                                                        i {
                                                            color: #14cab8;
                                                        }
                                                    }
                                                    &:after {
                                                        background-color: #14cab8;
                                                    }
                                                }
                                                &.industryPartners {
                                                    span {
                                                        i {
                                                            color: #000000;
                                                        }
                                                    }
                                                    &:after {
                                                        background-color: #000000;
                                                    }
                                                }
                                                &.non-partners {
                                                    span {
                                                        i {
                                                            color: #126585;
                                                        }
                                                    }
                                                    &:after {
                                                        background-color: #126585;
                                                    }
                                                }
                                            }
                                            .locations-list {
                                                display: none;
                                            }
                                        }
                                        .category-toggle-button {
                                            color: black;
                                            display: block;
                                            position: relative;
                                            margin: 5px 10px;
                                            @include breakpoint($xs) {
                                                margin: 5px 0;
                                            }
                                            span {
                                                padding-right: 5px;
                                                background-color: white;
                                                position: relative;
                                                z-index: 10;
                                                i {
                                                    margin-right: 10px;
                                                    color: #bbbbbb;
                                                    @include breakpoint($xs) {
                                                        margin-right: 5px;
                                                    }
                                                }
                                            }
                                            &:after {
                                                content: '';
                                                z-index: 5;
                                                background-color: #bbbbbb;
                                                width: 100%;
                                                height: 2px;
                                                left: 0;
                                                @include vertical-align(absolute);
                                            }
                                        }
                                        .locations-list {
                                            padding: 5px 10px;
                                            .single-location {
                                                padding: 10px;
                                                margin-bottom: 10px;
                                                border: 3px solid transparent;
                                                @include rounded(4px);
                                                @include box-shadow(0px 0px 7px 1px rgba(0, 0, 0, 0.15));
                                                figure {
                                                    width: 120px;
                                                    img {
                                                        width: 100%;
                                                    }
                                                }
                                                .right-location-content {
                                                    width: calc(100% - 120px);
                                                    .is-partner {
                                                        span {
                                                            padding: 5px;
                                                            background-color: #bbbbbb;
                                                            color: white;
                                                            @include rounded(6px);
                                                        }
                                                    }
                                                    .trp-stats {
                                                        .stars {
                                                            width: 132px;
                                                            height: 25px;
                                                            background-position: center;
                                                            background-repeat: no-repeat;
                                                            background-image: url('/assets/images/stars-gray-average.png');
                                                            background-size: contain;
                                                            .active-stars {
                                                                height: 25px;
                                                                background-image: url('/assets/images/stars-blue-average.png');
                                                                background-size: auto 100%;
                                                                background-position: top 0 left 0;
                                                                background-repeat: no-repeat;
                                                            }
                                                        }
                                                        .base-on-x-reviews {
                                                            color: #888888;
                                                            @include breakpoint($xs) {
                                                                display: block;
                                                                padding: 5px 0;
                                                            }
                                                        }
                                                        a {
                                                            color: $bright_blue;
                                                        }
                                                    }
                                                    .hidden-content {
                                                        display: none;
                                                        line-height: 28px;
                                                        a {
                                                            font-family: 'Lato-Bold';
                                                            color: $bright_blue;
                                                        }
                                                    }
                                                    .toggle-location-tile {
                                                        display: inline-block;
                                                        width: 25px;
                                                        @include simple_transition(.3s);
                                                        img {
                                                            width: 100%;
                                                        }
                                                    }
                                                }
                                                &.toggled {
                                                    border: 3px solid #ff0046;
                                                    position: relative;
                                                    .right-location-content {
                                                        .is-partner {
                                                            font-size: 0 !important;
                                                            padding: 0 !important;
                                                            span {
                                                                display: none;
                                                            }
                                                            &:after {
                                                                content: 'Partner';
                                                                font-size: 14px;
                                                                color: white;
                                                                background-color: #ff0046;
                                                                font-family: 'Lato-Bold';
                                                                padding: 5px 10px;
                                                                position: absolute;
                                                                top: -8px;
                                                                left: -8px;
                                                                @include rounded(4px);
                                                            }
                                                        }
                                                        .hidden-content {
                                                            display: block;
                                                        }
                                                        .toggle-location-tile {
                                                            @include rotate(180deg);
                                                        }
                                                    }
                                                    @include breakpoint($xs) {
                                                        .right-location-content {
                                                            width: 100%;
                                                            padding-top: 10px;
                                                        }
                                                    }
                                                }
                                            }
                                            @include breakpoint($xs) {
                                                padding: 5px 0;
                                                .single-location {
                                                    padding: 5px;
                                                    figure {
                                                        width: 100%;
                                                        text-align: center;
                                                        padding-top: 15px;
                                                        img {
                                                            max-width: 150px;
                                                        }
                                                    }
                                                    .right-location-content {
                                                        width: calc(100% - 100px);
                                                        text-align: center;
                                                        .hidden-content {
                                                            text-align: left;
                                                            max-width: 450px;
                                                            margin: 0 auto;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                &.open-item {
                                    display: block !important;
                                    > a {
                                        display: none;
                                    }
                                    &.single-continent {
                                        .countries-list {
                                            display: block;
                                        }
                                    }
                                    &.country-list-parent {
                                        .locations-category-list {
                                            display: block;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .google-map-box {
                width: calc(100% - 500px);
                height: 500px;
                position: relative;
                overflow: hidden;
                @include breakpoint($lgll) {
                    width: calc(100% - 700px);
                }
                @include breakpoint($md-only) {
                    width: calc(100% - 400px);
                }
                @include breakpoint($sm-down) {
                    width: 100%;
                    height: 400px;
                }
            }
        }
        .invite-and-bottom-filter {
            .only-mobile-visible-map-button {
                display: none;
                text-align: center;
                padding-bottom: 20px;
                margin-top: -20px;
                &.list-shown {
                    margin-top: 30px;
                }
                @include breakpoint($sm-down) {
                    display: block;
                }
            }
            .invite-text {
                width: 500px;
                background-color: $bright_blue;
                @include breakpoint($lgll) {
                    width: 700px;
                }
                @include breakpoint($md-only) {
                    width: 400px;
                }
            }
            .bottom-filter {
                width: calc(100% - 500px);
                background-color: white;
                padding: 15px 25px;
                display: flex;
                .right-side-filters {
                    order: 1;
                }
                .left-side-stats {
                    order: 0;
                }
                .left-side-stats, .right-side-filters {
                    width: 50%;
                }
                .changeable-stats {
                    ul {
                        li {
                            span {
                                color: #ec1e4c;
                                font-family: 'Lato-Black';
                            }
                            @include breakpoint($xs) {
                                padding-bottom: 10px;
                            }
                        }
                    }
                }
                .right-side-filters {
                    .custom-checkbox-label {
                        .color-box {
                            width: 17.5px;
                            height: 17.5px;
                            margin: 0 10px 0 5px;
                        }
                    }
                    .custom-checkbox {
                        margin: 0;
                        border-radius: 0;
                        border-color: black;
                        color: black;
                        border-width: 2px;
                        line-height: 17.5px;
                    }
                }
                @include breakpoint($lgll) {
                    width: calc(100% - 700px);
                }
                @include breakpoint($md-only) {
                    padding: 15px 10px;
                    width: calc(100% - 400px);
                    .custom-checkbox-label {
                        font-size: 15px;
                    }
                }
                @include breakpoint($sm-down) {
                    display: block;
                    padding: 15px;
                    .left-side-stats, .right-side-filters {
                        width: 100%;
                    }
                }
            }
            @include breakpoint($sm-down) {
                display: block !important;
                .invite-text {
                    display: none;
                    width: 100%;
                }
                .bottom-filter {
                    width: 100%;
                    .custom-checkbox-style {
                        display: flex;
                        align-items: center;
                        padding-bottom: 5px;
                        .custom-checkbox-label {
                            order: 1;
                            display: flex;
                            align-items: center;
                            span {
                                order: 1;
                            }
                            .color-box {
                                margin: 0 5px 0 0;
                                order: 0;
                            }
                        }
                        .custom-checkbox {
                            order: 0;
                        }
                    }
                }
            }
        }
    }
}