$screen-md: 1200px;
$screen-sm: 992px;
$screen-xs: 768px;

$main_color: #333;
$dark_gray: #555555;
$light_blue: #679dca;
$bright_blue: #00aeef;
$dark_blue: #041e42;
$light_gray: #3e3e3e;
$solid_gray: #aaaaaa;
$christmas_calendar_red: #d70a10;

.main_color {
    color: $main_color;
}

.main_color-bg {
    background-color: $main_color;
}

.light_blue {
    color: $light_blue;
}

.light_blue-bg {
    background-color: $light_blue;
}

.light_gray {
    color: $light_gray;
}

.light_gray-bg {
    background-color: $light_gray;
}

.solid_gray {
    color: $solid_gray;
}

.solid_gray-bg {
    background-color: $solid_gray;
}

.color-white {
    color: white;
}

.color-black {
    color: black;
}

.color-dark-blue {
    color: $dark_blue;
}

.color-christmas-calendar-red {
    color: $christmas_calendar_red;
}

.color-dark-gray {
    color: $dark_gray;
}

.color-bright-blue {
    color: $bright_blue;
}

.background-bight-blue {
    background-color: $bright_blue;
}

.background-dark-gray {
    background-color: $dark_gray;
}

.background-dark-blue {
    background-color: $dark_blue;
}
