body.christmas-calendar {
    .white-red-btn {
        background-color: $christmas_calendar_red;
        color: white;
        font-size: 16px;
        padding: 6px 15px;
        font-weight: bold;
        border: 1.5px solid $christmas_calendar_red;
        text-decoration: none;
        @include rounded(4px);
        @include simple_transition(.3s);
        &:hover {
            color: $christmas_calendar_red;
            background-color: white;
            text-decoration: none;
        }
    }
    .christmas-calendar-logged {
        .christmas-calendar-campaign-stats {
            .single-stat {
                text-align: center;
                border-right: 1.5px solid black;
                padding-left: 5px;
                padding-right: 5px;
                figure {
                    margin-right: 10px;
                    width: 50px;
                }
                &:last-child {
                    border: 0;
                }
                @include breakpoint($md-only) {
                    .stats-text {
                        display: block;
                        padding-top: 5px;
                    }
                }
                @include breakpoint($sm-down) {
                    padding-bottom: 20px;
                    border: 0;
                    .stats-text {
                        display: inline-block;
                        padding-top: 5px;
                    }
                    &:last-child {
                        padding-bottom: 0;
                    }
                }
            }
        }
        .tasks-section {
            position: relative;
            .camping-custom-popups {
                top: 50px;
                width: 95%;
                max-width: 800px;
                z-index: 100;
                @include horizontal-align(absolute);
                .popup-wrapper {
                    background-color: rgba(255, 255, 255, 0.95);
                    padding: 15px 60px;
                    border: 1px solid black;
                    @include rounded(10px);
                    ul {
                        li {
                            list-style: disc outside none;
                        }
                    }
                    label {
                        cursor: pointer;
                    }
                    .facebook-buttons {
                        .single-facebook-btn {
                            padding: 20px;
                        }
                    }
                }
                &.socials {
                    display: none;
                }
            }
            .blurred-section {
                @include simple_transition(.3s);
                &.active {
                    filter: blur(3.5px);
                    -webkit-filter: blur(3.5px);
                }
            }
            .single-task {
                .present__content {
                    background-image: url(/assets/images/christmas-calendar-campaign/christams-box-bg.svg);
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                    background-position: center center;
                    text-align: center;
                    figure {
                        width: 80%;
                        max-height: 100%;
                        @include vertical-horizontal-align(absolute);
                    }
                }
            }
        }
        .santa-section {
            img {
                margin-top: -80px;
                @include breakpoint($xs) {
                    margin-top: 0;
                }
            }
        }
    }
    .christmas-calendar-not-logged, .christmas-calendar-logged {
        .tasks-section {
            .wrapper {
                padding-top: 100%;
                position: relative;
                display: inline-block;
                width: 100%;
                -webkit-perspective: 1500px;
                perspective: 1500px;
                z-index: 666;
                .present__pane {
                    width: inherit;
                    height: inherit;
                }
                .present__pane {
                    width: 100%;
                    height: 100%;
                    padding-top: 100%;
                    top: 0;
                    left: 0;
                    position: absolute;
                    background: linear-gradient(135deg, #9ddafd 50%, #4eb6eb 50%);
                    -webkit-transform-style: preserve-3d;
                    transform-style: preserve-3d;
                    -webkit-transform-origin: 0;
                    transform-origin: 0;
                    text-align: center;
                    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
                    cursor: pointer;
                    transition: all 0.2s ease-out;
                }
                .present__date {
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    font-size: 30px;
                    font-family: 'Lato-Black';
                    text-align: center;
                    color: white;
                    background: #d70a10;
                    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.15);
                    @include rounded(50%);
                    @include vertical-horizontal-align(absolute);
                }
                &:hover {
                    z-index: 999;
                }
                &:hover .present__pane {
                    background: linear-gradient(135deg, #9ddafd 50%, #4eb6eb 50%);
                    -webkit-transform: rotateY(-93deg);
                    transform: rotateY(-93deg);
                    -webkit-perspective-origin: 0;
                    perspective-origin: 0;  
                    transition: all 0.25s ease-in;
                }
                &:hover .present__date {
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                }
                .present__content {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    width: 100%;
                    height: 100%;
                    font-size: 16px;
                    img {
                        max-width: 70%;
                    }
                    .check-icon {
                        display: block;
                        color: white;
                        background-color: #00f272;
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        width: 25px;
                        height: 25px;
                        line-height: 25px;
                        font-size: 16px;
                        text-align: center;
                        @include rounded(50%);
                        @include breakpoint($xs) {
                        }
                    }
                    @include breakpoint($md-only) {
                        font-size: 14px;
                    }
                    @include breakpoint($xs) {
                        font-size: 13px;
                        img {
                            max-width: 55%;
                        }
                        .check-icon {
                            top: 5px;
                            left: 5px;
                            width: 20px;
                            height: 20px;
                            line-height: 20px;
                            font-size: 12px;
                        }
                    }
                }
                &.opened {
                    z-index: 999;
                    .present__pane {
                        background: linear-gradient(135deg, #9ddafd 50%, #4eb6eb 50%);
                        -webkit-transform: rotateY(-93deg);
                        transform: rotateY(-93deg);
                        -webkit-perspective-origin: 0;
                        perspective-origin: 0;
                        transition: all 0.25s ease-in;
                    }
                    .present__date {
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                    }
                }
            }
        }
    }
    .bootbox {
        &.christmas-calendar-task {
            .bootbox-close-button {
                display: none;
            }
            .modal-dialog {
                width: 95%;
                max-width: 900px;
                @include breakpoint($xs) {
                    margin-bottom: 100px;
                }
                .modal-content {
                    background: transparent;
                    border: 0;
                    @include box-shadow(none);
                    .modal-body {
                        padding: 0;
                        .popup-header {
                            img {
                                max-width: 250px;
                            }
                            .lines-and-day {
                                position: relative;
                                .lines {
                                    overflow: hidden;
                                    @include rounded(20px 20px 0 0);
                                    .small-red-line {
                                        background-color: $christmas_calendar_red;
                                        height: 10px;
                                    }
                                    .small-yellow-line {
                                        background-color: #f3b434;
                                        height: 5px;
                                    }
                                    .big-red-line {
                                        background-color: $christmas_calendar_red;
                                        height: 35px;
                                    }
                                }
                                .day {
                                    font-size: 40px;
                                    text-align: center;
                                    color: white;
                                    font-family: 'Lato-Black';
                                    padding: 15px 30px;
                                    background-color: $christmas_calendar_red;
                                    @include rounded(15px);
                                    @include box-shadow(0 2px 6px 0 rgba(0, 0, 0, 0.7));
                                    @include vertical-horizontal-align(absolute);
                                    @include breakpoint($xs) {
                                        font-size: 32px;
                                    }
                                }
                            }
                        }
                        .popup-body {
                            background-color: white;
                            @include rounded(0 0 20px 20px);

                            .newsletter-register {
                                padding-top: 50px;
                                padding-bottom: 30px;
                                #mc_embed_signup_scroll {
                                    max-width: 300px;
                                    margin: 0 auto;
                                    font-size: 0;
                                    input[type='email'] {
                                        width: calc(100% - 100px);
                                        display: inline-block;
                                        vertical-align: middle;
                                        height: 40px;
                                        font-size: 18px;
                                        border: 1px solid #aaaaaa;
                                        padding: 0 5px;
                                        @include rounded(4px 0 0 4px);
                                    }
                                    .btn-container {
                                        width: 100px;
                                        display: inline-block;
                                        vertical-align: middle;
                                        input[type='submit'] {
                                            height: 40px;
                                            font-size: 18px;
                                            background-color: $christmas_calendar_red;
                                            display: block;
                                            width: 100%;
                                            border: 0;
                                            color: white;
                                            @include rounded(0 4px 4px 0);
                                        }
                                    }
                                }
                                .checkbox-row {
                                    padding-top: 10px;
                                    text-align: left;
                                    max-width: 300px;
                                    margin: 0 auto;
                                    input[type='checkbox'] {
                                        vertical-align: middle;
                                        margin: 0;
                                    }
                                    label {
                                        font-size: 16px;
                                        margin: 0;
                                        vertical-align: middle;
                                        padding-left: 10px;
                                        a {
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                            form {
                                width: 80%;
                                margin: 0 auto;
                                #upload-avatar {
                                    display: none;
                                }
                                textarea {
                                    width: 100%;
                                    border: 2px solid #dddddd;
                                    cursor: pointer;
                                    font-size: 16px;
                                    font-family: 'Lato-Regular';
                                    padding: 10px 15px;
                                    @include rounded(4px);

                                }
                                .task-present {
                                    width: 120px;
                                    height: 120px;
                                    background-image: url(/assets/images/christmas-calendar-campaign/christams-box-bg.svg);
                                    background-repeat: no-repeat;
                                    background-size: 100% 100%;
                                    background-position: center center;
                                    text-align: center;
                                    position: relative;
                                    figure {
                                        width: 80%;
                                        max-height: 100%;
                                        font-size: 14px;
                                        @include vertical-horizontal-align(absolute);
                                        img {
                                            max-width: 70%;
                                        }
                                    }
                                }
                                .task-name {
                                    width: calc(100% - 120px);
                                    @include breakpoint($xs) {
                                        width: 100%;
                                        padding-top: 15px;
                                    }
                                }
                                .task-body {
                                    .upload-image {
                                        .rotate {
                                            position: absolute;
                                            right: 50px;
                                            top: -10px;
                                            cursor: pointer;
                                            z-index: 3;
                                            width: 35px;
                                            @include breakpoint($xs){
                                                width: 25px;
                                                right: 41px;
                                            }
                                        }
                                        .photo {
                                            overflow: hidden;
                                            cursor: pointer;
                                            position: relative;
                                            width: calc(100% - 76px);
                                            margin-bottom: 0;
                                            .border {
                                                position: absolute;
                                                top: 0;
                                                width: 100%;
                                                height: 100%;
                                                img{
                                                    width: 100%;
                                                    max-width: none;
                                                }
                                            }
                                            .avatar {
                                                width: 100%;
                                                &.avatar-selected {
                                                    background-repeat: no-repeat;
                                                    background-position: calc(50% - 0px) calc(50% - 0px);
                                                    background-size: contain;
                                                }
                                                @include breakpoint($xs)    {
                                                    img {
                                                        width: 100%;
                                                    }
                                                }
                                                &.filter-sepia{
                                                    -filter: brightness(0.9) sepia(1);
                                                    -webkit-filter: brightness(0.9) sepia(1);
                                                }
                                                &.filter-grayscale{
                                                    -webkit-filter: grayscale(1);
                                                    filter: grayscale(1);
                                                    background-color: #d6d6d6;
                                                }
                                            }
                                            @include breakpoint($xs){
                                                width: calc(100% - 50px);
                                            }
                                        }
                                        .up-triangle {
                                            padding-bottom: 5px;
                                            text-align: center;
                                            &, img{
                                                @include user-select(none);
                                                @include user-drag(none);
                                            }
                                            img {
                                                max-height: 100%;
                                                max-width: none;
                                                width: auto;
                                                height: 100%;
                                            }
                                            @include breakpoint($xs){
                                                height: 25px;
                                            }
                                        }
                                        .down-triangle {
                                            padding-top: 5px;
                                            position: relative;
                                            text-align: center;
                                            div {
                                                color: $dark_blue;
                                                font-size: 14px;
                                                &:first-child {
                                                    @include breakpoint($xs)    {
                                                        padding-top: 30px;
                                                    }
                                                }
                                            }
                                            &, img{
                                                @include user-select(none);
                                                @include user-drag(none);
                                            }
                                            img {
                                                transform: rotate(180deg);
                                                max-height: 100%;
                                                max-width: none;
                                                width: auto;
                                                height: 100%;
                                            }
                                            @include breakpoint($xs){
                                                height: 25px;
                                            }
                                        }
                                        .left-triangle {
                                            padding-right: 5px;
                                            text-align: left;
                                            &, img{
                                                @include user-select(none);
                                                @include user-drag(none);
                                            }
                                            @include breakpoint($xs){
                                                width: 25px;
                                            }
                                        }
                                        .right-triangle {
                                            padding-right: 5px;
                                            text-align: left;
                                            transform: rotate(180deg);
                                            &, img{
                                                @include user-select(none);
                                                @include user-drag(none);
                                            }
                                            @include breakpoint($xs){
                                                width: 25px;
                                            }
                                        }
                                        .zoom-scroll-container {
                                            padding-top: 20px;
                                            padding-left: 15px;
                                            padding-right: 15px;
                                            .wrapper {
                                                height: 10px;
                                                background-color: white;
                                                max-width: 300px;
                                                margin: 0 auto;
                                                position: relative;
                                                border: 1.5px solid #c5c5c5;
                                                span {
                                                    width: 25px;
                                                    height: 25px;
                                                    left: -10px;
                                                    cursor: pointer;
                                                    background-color: $christmas_calendar_red;
                                                    display: none;
                                                    position: absolute;
                                                    top: 50%;
                                                    -webkit-transform: translate(-50%, -50%);
                                                    -ms-transform: translate(-50%, -50%);
                                                    transform: translate(-50%, -50%);
                                                    @include rounded(50%);
                                                }
                                                .ui-slider-handle {
                                                    display: block;
                                                }
                                            }
                                        }
                                        .legend {
                                            color: #1f3685;
                                            font-size: 14px;
                                            padding-top: 35px;
                                            text-align: center;
                                        }
                                    }
                                }
                                @include breakpoint($xs) {
                                    width: 90%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .christmas-calendar-not-logged {
        .tasks-section {
            .wrapper {
                .present__content {
                    img {
                        max-width: 100%;
                    }
                }
            }
        }
        .presents-list {
            figure {
                img {
                    margin-top: -40px;
                    @include breakpoint($xs) {
                        margin-top: 0;
                    }
                }
            }
        }
        .santa-section {
            img {
                margin-top: -150px;
                @include breakpoint($xs) {
                    margin-top: 0;
                }
            }
        }
    }
}