.homepage-container {
    .intro {
        padding-top: 30px;
        position: relative;
        .bg-wrapper {
            background-image: url('/assets/images/dentacoin-symbol-background.png');
            background-position: left center;
            background-repeat: no-repeat;
            background-size: contain;
            height: 100%;
            .btn-container {
                text-align: right;
                .btn-and-line {
                    text-align: center;
                    min-width: 90px;
                    a {
                        display: block;
                    }
                }
            }
            .second-dot-parent {
                text-align: right;
                bottom: 0;
                @include horizontal-align(absolute);
                .wrapper {
                    text-align: center;
                    min-width: 90px;
                    display: inline-block;
                }
            }
            .content-wrapper {
                @include vertical-horizontal-align(absolute);
                .title {
                    font-size: 70px;
                    font-weight: bold;
                    line-height: 70px;
                }
                .subtitle {
                    font-size: 30px;
                    font-weight: bold;
                    line-height: 25px;
                }
                .description {
                    font-size: 16px;
                    padding-top: 20px;
                    line-height: 18px;
                    &.italic {
                        font-size: 18px;
                        font-style: italic;
                    }
                }
            }
            .video {
                padding-top: 20px;
                .play-btn {
                    display: inline-block;
                    img {
                        width: 60px;
                        cursor: pointer;
                    }
                }
                .video-wrapper {
                    width: 60px;
                    position: relative;
                    video {
                        width: 100%;
                    }
                    figure.close-video {
                        position: absolute;
                        top: 0;
                        right: -25px;
                        cursor: pointer;
                        img {
                            width: 14px;
                        }
                    }
                }
            }
        }
    }
    .dentacoin-ecosystem {
        background-image: url('/assets/images/dentacoin-ecosystem-background.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        .btn-container {
            text-align: right;
            padding-top: 30px;
            .btn-and-line {
                text-align: center;
                min-width: 90px;
                a {
                    display: block;
                }
            }
        }
        .rotated-text {
            color: white;
            font-weight: bold;
            font-size: 35px;
            left: -80px;
            @include vertical-align(absolute);
            span {
                display: block;
                @include rotate(-90deg);
            }
        }
        .list {
            @include vertical-horizontal-align(absolute);
            figure {
                padding-bottom: 25px;
                text-align: center;
                figcaption {
                    color: white;
                    font-size: 18px;
                    padding-top: 15px;
                }
            }
        }
    }
    .successful-practices {
        .dots {
            height: 80px;
            .first-dot-wrapper {
                position: absolute;
                top: 0;
                right: 15px;
                width: 90px;
                text-align: center;
                font-size: 0;
                .inline-block {
                    font-size: 14px;
                }
            }
            .second-dot-wrapper {
                position: absolute;
                bottom: 0;
                right: 15px;
                width: 90px;
                text-align: center;
                font-size: 0;
                .inline-block {
                    font-size: 14px;
                }
            }
            .third-dot {
                position: absolute;
                bottom: 0;
                left: 15px;
            }
            .logo-over-line {
                position: absolute;
                padding: 0 20px;
                background: white;
                top: 80px;
                left: 50%;
                transform: translate(-50%, -100%);
                -webkit-transform: translate(-50%, -100%);
                -ms-transform: translate(-50%, -100%);
                img {
                    width: 40px;
                }
            }
        }
        .section-title {
            padding-top: 30px;
            padding-bottom: 70px;
        }
        .content {
            figure {
                padding-right: 0;
                .fourth-dot {
                    position: absolute;
                    bottom: 0;
                    left: 15px;
                }
                .fifth-dot {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
                img {
                    visibility: hidden;
                    &.active {
                        visibility: visible;
                    }
                }
            }
            .section-subtitle {
                line-height: 34px;
                padding-bottom: 15px;
            }
            .description {
                font-size: 16px;
                line-height: 18px;
            }
            .btn-container {
                padding-top: 30px;
                .white-blue-rounded-btn {
                    font-size: 18px;
                }
            }
        }
    }
    .below-successful-practices {
        .cells {
            font-size: 0;
            text-align: center;
            .between-sections-description {
                width: 40%;
                padding-top: 25px;
                text-align: left;
            }
        }
        .description-over-line {
            text-align: center;
            padding-top: 100px;
            .wrapper {
                position: relative;
                padding-right: 15px;
                .first-dot {
                    left: -15px;
                    @include vertical-align(absolute);
                }
                .second-dot {
                    right: 0;
                    @include vertical-align(absolute);
                }
                .description {
                    font-size: 16px;
                    font-weight: bold;
                    color: $dark_gray;
                    padding: 0 5px;
                    background: white;
                    span {
                        font-size: 34px;
                        font-weight: bold;
                        color: $dark_gray;
                        vertical-align: middle;
                        padding: 0 5px;
                    }
                }
            }
        }
    }
    .testimonials {
        .upper-empty-space {
            height: 200px;
            position: relative;
            .first-dot {
                position: absolute;
                bottom: 0;
                right: 15px;
            }
            .second-dot {
                position: absolute;
                bottom: 0;
                left: 15px;
            }
        }
        .expressions {
            margin-top: -10px;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            .circle-wrapper {
                width: 30px;
                margin: 0 5px;
                position: relative;
                .circle {
                    width: 25px;
                    height: 25px;
                    border: 3px solid black;
                    margin: 0 auto;
                    background-color: white;
                    cursor: pointer;
                    position: relative;
                    @include rounded(50%);
                    @include simple_transition(.3s);
                    .background {
                        background-position: center center;
                        background-size: 100% 100%;
                        background-repeat: no-repeat;
                        position: absolute;
                        z-index: 5;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        @include rounded(50%);
                    }
                }
                .text {
                    display: none;
                    width: 250px;
                    text-align: left;
                    padding-top: 15px;
                    padding-left: 20px;
                    padding-right: 20px;
                    color: $light_gray;
                    position: relative;
                    line-height: 18px;
                    @include horizontal-align(absolute);
                    .start, .end {
                        width: 10px;
                    }
                    .start {
                        top: 10px;
                        left: 0;
                        position: absolute;
                    }
                    .end {
                        display: inline-block;
                        margin-left: 5px;
                    }
                    .name_job_location {
                        padding-top: 5px;
                        font-style: italic;
                        line-height: 16px;
                    }
                }
                &.active {
                    width: 80px;
                    margin: 0 25px;
                    .circle {
                        margin: 0 auto;
                        width: 70px;
                        height: 70px;
                        .background {
                            opacity: 1;
                        }
                    }
                    .text {
                        display: block;
                    }
                }
                &.not-active {
                    .circle {
                        &:hover {
                            background-color: black;
                            background-image: url('/assets/images/no-active-avatar-hover.svg') !important;
                            background-position: center center;
                            background-size: 70% 70%;
                            background-repeat: no-repeat;
                        }
                    }
                }
            }
        }
        .below-expressions {
            padding-top: 300px;
            .show-more {
                position: absolute;
                left: 0;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                p {
                    margin-top: -15px;
                    font-size: 16px;
                    margin-left: -50px;
                    transform-origin: bottom;
                    @include rotate(-90deg);
                }
                figure {
                    border: 2px solid black;
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    background: white;
                    padding: 3px;
                    @include rounded(50%);
                    img {
                        width: 90%;
                        margin: 0 auto;
                    }
                }
            }
            .third-dot {
                position: absolute;
                bottom: 0;
                left: 15px;
            }
        }
    }
    .buy-dentacoin {
        .logo {
            .logo-over-line {
                background-color: white;
                padding: 0 20px;
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                img {
                    width: 40px;
                }
            }
            .first-dot {
                position: absolute;
                top: 0;
                right: 15px;
            }
        }
        .section-title {
            padding-top: 30px;
            padding-bottom: 60px;
        }
        .wallet-app-and-gif {
            font-size: 0;
            display: flex;
            position: relative;
            .fifth-dot {
                position: absolute;
                bottom: 0;
                left: 15px;
            }
            .wallet-app {
                font-size: 16px;
                .section-subtitle {
                    padding-bottom: 20px;
                    padding-top: 20px;
                }
                .description {
                    color: $light_gray;
                    padding-bottom: 20px;
                }
                .exchange-platforms-and-wallets {
                    font-size: 0;
                    .exchange-platforms, .wallets {
                        font-size: 16px;
                        width: 50%;
                        padding: 0 5px;
                        .title {
                            cursor: pointer;
                            .icon {
                                width: 15px;
                                height: 15px;
                                background-image: url('/assets/images/plus-black-background-bordered.svg');
                                background-position: center center;
                                background-repeat: no-repeat;
                                background-size: 100% 100%;
                            }
                            span {
                                padding-left: 5px;
                            }
                        }
                        ul.list {
                            display: none;
                            li {
                                list-style: disc inside none;
                            }
                        }
                        &.active {
                            .title {
                                .icon {
                                    background-image: url('/assets/images/minus-black-background-bordered.svg');
                                }
                                span {
                                    text-decoration: underline;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }
            .gif {
                figure {
                    position: relative;
                    img {
                        visibility: hidden;
                        &.active {
                            visibility: visible;
                        }
                    }
                    .second-dot {
                        position: absolute;
                        right: 0;
                        bottom: 0;
                    }
                    .third-dot {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        font-size: 16px;
                    }
                }
                .between-sections-description {
                    padding: 25px 20px;
                    position: relative;
                    .fourth-dot {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        font-size: 16px;
                    }
                }
            }
            .buy-btn {
                padding-top: 40px;
            }
        }
    }
    .below-buy-dentacoin {
        .container {
            position: relative;
            padding-top: 60px;
            padding-bottom: 60px;
            .logo-over-line {
                position: absolute;
                padding: 0 20px;
                background: white;
                top: 100%;
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                img {
                    width: 40px;
                }
            }
            .first-dot {
                position: absolute;
                left: 15px;
                bottom: 0;
            }
            .second-dot {
                position: absolute;
                right: 15px;
                bottom: 0;
            }
        }
        .between-sections-description {
            padding-left: 40px;
            padding-right: 40px;
        }
    }
    .awards-and-publications {
        .section-title {
            padding-top: 40px;
            padding-bottom: 60px;
        }
        .awards {
            padding-bottom: 120px;
            figure {
                text-align: center;
            }
        }
        .publications-slider-wrapper {
            position: relative;
            .first-dot {
                position: absolute;
                bottom: 0;
                right: 15px;
            }

            .logo-over-line {
                position: absolute;
                padding: 0 20px;
                background: white;
                top: 100%;
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                img {
                    width: 40px;
                }
            }
            .publications-slider {
                height: 400px;
                padding-left: 20px;
                padding-right: 20px;
                .slick-track {
                    display: flex;
                }
                .slick-track .slick-slide {
                    display: flex;
                    height: auto;
                    align-items: center;
                    justify-content: center;
                }
                .single-slide {
                    cursor: -webkit-grab;
                    cursor: grab;
                    figure {
                        img {
                            margin: 0 auto;
                        }
                    }
                    .description {
                        padding: 30px 30px;
                        display: none;
                    }
                    .btn-container {
                        font-weight: bold;
                        text-align: center;
                        display: none;
                        padding-left: 15px;
                        padding-right: 15px;
                        a {
                            color: black;
                            &:hover {
                                color: black;
                                text-decoration: underline;
                            }
                        }
                    }
                    &.slick-current {
                        border-left: 2px solid black;
                        border-right: 2px solid black;
                        .description, .btn-container {
                            display: block;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    .roadmap {
        .container {
            padding-top: 40px;
            padding-bottom: 150px;
            position: relative;
            .first-dot {
                position: absolute;
                top: 0;
                left: 15px;
            }
            .second-dot {
                position: absolute;
                bottom: 0;
                left: 15px;
            }
        }
    }
    .roadmap-timeline {
        .gif {
            figure {
                padding-left: 2px;
                padding-right: 1px;
                position: relative;
                img {
                    visibility: hidden;
                    &.active {
                        visibility: visible;
                    }
                }
                .first-dot {
                    position: absolute;
                    right: 2px;
                    bottom: 0;
                }
            }
        }
    }
    .below-roadmap-timeline {
        .wrapper {
            padding-top: 200px;
            .figure-wrapper {
                position: relative;
                .first-dot {
                    position: absolute;
                    top: 50%;
                    right: 2px;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
                .logo-over-line {
                    padding: 0 20px;
                    background: white;
                    text-align: center;
                    position: relative;
                    .second-dot {
                        @include vertical-horizontal-align(absolute);
                    }
                    img {
                        width: 40px;
                    }
                }
            }
        }
    }
}