.hidden-page-content {
    display: none;
    &.hidden-users-page-content, &.hidden-dentists-page-content, &.hidden-traders-page-content {
        position: absolute;
        width: 100%;
        z-index: 100;
        top: 0;
        opacity: 0;
        background-color: white;
        &.position-static {
            position: static;
        }
    }
    &.hidden-users-page-content {
        left: -100%;
        &.active-page {
            display: block;
            opacity: 1;
            left: 0;
        }
        position: absolute;
    }
    &.hidden-dentists-page-content {
        top: 100%;
        &.active-page {
            display: block;
            opacity: 1;
            top: 80px;
        }
        position: absolute;
    }
    &.hidden-traders-page-content {
        right: -100%;
        &.active-page {
            display: block;
            opacity: 1;
            right: 0;
        }
        position: absolute;
    }
}

.section-homepage-nav {
    min-height: 280px;
    position: relative;
    >.row {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
    }
    .single-element {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            bottom: 140px;
            right: -10px;
            width: 20px;
            height: 20px;
            background-color: black;
            @include rounded(20px);
        }
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 1px;
            height: 150px;
            background-image: url(/assets/images/delimiter.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
        &:last-child {
            &:after, &:before  {
                display: none;
            }
        }
        a {
            .icon-wrapper {
                @include simple_transition(.5s);
                figure {
                    img {
                        @include simple_transition(.5s);
                    }
                }
            }
            .hidden-nav-box {
                display: none;
                color: black;
                height: 150px;
                padding-top: 10px;
                @include box-shadow(0 2px 15px 1px rgba(0,0,0,.2));
                ul {
                    width: 210px;
                    text-align: left;
                    margin: 0 auto;
                    li {
                        list-style: disc inside none;
                    }
                }
            }
            &:hover {
                padding-bottom: 0 !important;
                .icon-wrapper {
                    height: 110px;
                    padding-top: 10px;
                    overflow: hidden;
                    figure {
                        margin: 0 auto;
                        width: 200px;
                        height: 200px;
                        @include box-shadow(0 2px 15px 1px rgba(0,0,0,.2));
                        @include rounded(50%);
                        img {
                            margin-top: 15px;
                        }
                        figcaption {
                            display: none;
                        }
                    }
                }
                .hidden-nav-box {
                    display: block;
                }
                &.users {
                    .icon-wrapper {
                        figure {
                            img {
                                max-width: 60px !important;
                            }
                        }
                    }
                }
                &.dentists {
                    .icon-wrapper {
                        figure {
                            img {
                                max-width: 90px !important;
                            }
                        }
                    }
                }
                &.traders {
                    .icon-wrapper {
                        figure {
                            img {
                                max-width: 95px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}