.partner-network-container {
    padding-top: 30px;
    .section-title {
        padding-bottom: 30px;
    }
    .filter {
        padding-bottom: 40px;
        .wrapper {
            max-width: 300px;
            width: 90%;
            margin: 0 auto;
            text-align: left;
            .title {
                font-family: 'Calibri-Bold';
                font-size: 20px;
            }
            .bootstrap-select.locations {
                padding-top: 15px;
            }
        }
    }
    .map-canvas {
        position: relative;
        overflow: hidden;
        height: 450px;
    }
    .list-with-locations {
        padding-top: 50px;
        padding-bottom: 100px;
        .section-title {
            padding-top: 30px;
            text-align: left;
        }
        .section-subtitle {
            font-size: 26px;
            padding-top: 8px;
            padding-bottom: 8px;
            border-bottom: 1px solid $light_gray;
            cursor: pointer;
            button {
                width: calc(100% - 25px);
                vertical-align: middle;
                display: inline-block;
                text-align: left;
            }
            i {
                font-size: 24px;
                width: 25px;
                text-align: right;
                padding-right: 5px;
                vertical-align: middle;
                display: inline-block;
                @include simple_transition(.3s);
                &.active {
                    @include rotate(90deg);
                }
            }
        }
        .clinics {
            display: none;
            padding-left: 20px;
            padding-right: 20px;
            .clinic-title {
                font-size: 20px;
                text-align: left;
                padding-top: 15px;
                padding-bottom: 5px;
            }
            .clinic-link {
                text-decoration: underline;
                font-size: 16px;
                padding-bottom: 5px;
            }
            .locations {
                ul {
                    li {
                        padding-bottom: 5px;
                        list-style: disc inside none;
                        font-size: 16px;
                    }
                }
            }
        }
        .single-type {
            &:first-child {
                padding-top: 0;
            }
            padding-top: 50px;
        }
    }
    @include breakpoint($xs)    {
        .list-with-locations {
            .section-subtitle {
                font-size: 20px;
            }
        }
        a {
            word-break: break-all;
        }
    }
}