.testimonials-container {
    padding-top: 30px;
    padding-bottom: 100px;
    .section-title {
        font-size: 44px;
        padding-bottom: 70px;
    }
    .list {
        .single {
            padding-bottom: 70px;
            color: $light_gray;
            .mobile-vertical-line-30 {
                display: none;
            }
            .image {
                width: 80px;
                height: 80px;
                position: relative;
                border: 3px solid black;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                background-color: white;
                overflow: hidden;
                @include rounded(50%);
                .dot {
                    font-size: 16px;
                    @include vertical-horizontal-align(absolute);
                }
                img {
                    @include vertical-horizontal-align(absolute);
                }
            }
            .content {
                width: calc(100% - 80px);
                font-size: 16px;
                padding-left: 25px;
                .description {
                    padding-bottom: 15px;
                    position: relative;
                    padding-left: 15px;
                    .start, .end {
                        width: 10px;
                    }
                    .start {
                        left: 0;
                        position: absolute;
                        img {
                            vertical-align: top;
                        }
                    }
                    .end {
                        display: inline-block;
                        margin-left: 5px;
                        img {
                            vertical-align: bottom;
                        }
                    }
                }
                .name_job {
                    font-family: 'Calibri-Bold';
                }
                .location {
                    i {
                        padding-right: 5px;
                        color: $solid_gray;
                    }
                }
            }
        }
    }
    @include breakpoint($sm-down)    {
        .list {
            .single {
                .content {
                    .description {
                        padding-left: 0;
                        .start {
                            position: static;
                            display: inline-block;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
    @include breakpoint($xs)    {
        padding-bottom: 50px;
        .section-title {
            font-size: 30px;
            padding-bottom: 30px;
        }
        .list {
            .single {
                padding-bottom: 15px;
                .mobile-vertical-line-30 {
                    margin: 0 auto 15px;
                    display: block;
                }
                .image {
                    display: block;
                    margin: 0 auto;
                }
                .content {
                    padding-top: 15px;
                    padding-left: 10px;
                    padding-right: 10px;
                    text-align: center;
                    width: 100%;
                }
            }
        }
    }
}