@font-face {
    font-family: "Lato-Bold";
    src: url("../fonts/Lato-Bold.eot");
    src: url("../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: auto; }

@font-face {
    font-family: "Lato-Regular";
    src: url("../fonts/Lato-Regular.eot");
    src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: block; }

.inline-block {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.display-block {
    display: block;
}

.inline-block-top {
    display: inline-block;
    vertical-align: top;
    float: none;
}

.dcn-page {
    font-family: "Lato-Regular";
    font-size: 18px;
    color: #333333;
    padding-top: 50px;
    padding-bottom: 100px;
}

.dcn-page h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.dcn-page .container-fluid {
    padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto
}

.dcn-page h1 {
    font-family: "Lato-Bold";
    font-size: 40px;
    text-align: center;
}

.dcn-page .subtitle {
    font-size: 30px;
    text-align: center;
    color: #38393b;
    padding-top: 10px;
    padding-bottom: 60px;
}

.dcn-page .section-title {
    font-size: 30px;
    font-family: "Lato-Bold";
    text-align: center;
}

.dcn-page .what-is-dcn {
    font-size: 0;
    padding-bottom: 45px;
}

.dcn-page .what-is-dcn figure {
    width: 120px;
    padding-right: 20px;
}

.dcn-page .what-is-dcn figure img {
    width: 100%;
}

.dcn-page .what-is-dcn .right-text {
    width: calc(100% - 120px);
    font-size: 18px;
}

.dcn-page .what-is-dcn .right-text h4 {
    font-size: 24px;
    color: #38393b;
    padding-bottom: 10px;
}

.how-to-earn-rewards-section {
    margin-bottom: 60px;
    font-size: 0;
    position: relative;
}

.how-to-earn-rewards-section .fixed-height-background {
    position: absolute;
    width: 100%;
    height: 450px;
    background-color: #caecfc;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.how-to-earn-rewards-section figure, .how-to-earn-rewards-section figure img {
    width: 100%;
}

.how-to-earn-rewards-section .right-text-and-btn {
    padding-right: 60px;
}

.how-to-earn-rewards-section .right-text-and-btn h3 {
    font-size: 30px;
    font-family: "Lato-Bold";
    color: #ff0046;
}

.how-to-earn-rewards-section .right-text-and-btn h4 {
    font-size: 24px;
    color: black;
    padding-top: 15px;
    padding-bottom: 25px;
    line-height: 36px;
}

.how-to-earn-rewards-section .right-text-and-btn p {
    font-size: 18px;
    padding-bottom: 15px;
}

.how-to-earn-rewards-section .right-text-and-btn a {
    font-size: 16px;
    color: white;
    background-color: #ff0046;
    display: inline-block;
    padding: 10px 30px;
}

.how-to-earn-rewards-section .right-text-and-btn a:hover {
    text-decoration: none;
}

.simple-steps-section ul {
    padding-left: 0;
    padding-top: 35px;
    padding-bottom: 45px;
}
.simple-steps-section ul li {
    padding-bottom: 15px;
    list-style: none;
}

.simple-steps-section ul li span {
    font-family: "Lato-Bold";
    font-size: 24px;
    color: white;
    background-color: #00bcd8;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    padding: 4px;
}

.simple-steps-section ul li a {
    text-decoration: underline;
    color: #00bcd8;
}

.simple-steps-section .video {
    padding-bottom: 60px;
}

.simple-steps-section .video video {
    width: 100%;
}

.more-ways-to-get-dcn-section .ways {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 100px;
    font-size: 0;
}

.more-ways-to-get-dcn-section .ways .way .way-img {
    width: 100px;
    margin: 0 auto;
    padding-bottom: 15px;
}

.more-ways-to-get-dcn-section .ways .way .way-img img {
    width: 100%;
}

.more-ways-to-get-dcn-section .ways .way h4 {
    font-size: 24px;
    color: black;
    font-family: "Lato-Bold";
    padding-bottom: 5px;
}

.more-ways-to-get-dcn-section .ways .way .link {
    color: #00bcd8;
    text-decoration: underline;
    font-size: 18px;
}

.more-ways-to-get-dcn-section .ways .way p {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 18px;
}

.more-ways-to-get-dcn-section .ways .way .custom-btn {
    font-size: 16px;
    color: white;
    background-color: #00bcd8;
    display: inline-block;
    padding: 10px 30px;
}

.more-ways-to-get-dcn-section .ways .way .custom-btn:hover {
    text-decoration: none;
}

.more-ways-to-get-dcn-section .ways .way .app-btn {
    padding-bottom: 10px;
}

.more-ways-to-get-dcn-section .ways .way .app-btn figure {
    width: 160px;
    margin: 0 auto;
}

.faq-section .section-title {
    padding-bottom: 50px;
}

.faq-section > ul {
    list-style: none;
    padding: 0;
}

.faq-section ul li {
    margin-bottom: 10px;
}

.faq-section ul li .question {
    color: #1d1d1d;
    display: block;
    width: 100%;
    -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
}

.faq-section ul li .question .column {
    background-image: url(../images/arrow-down-blue.svg);
    background-repeat: no-repeat;
    background-size: 15px auto;
    background-position: center right 15px;
    padding-right: 30px;
}

.faq-section ul li .question .column span {
    font-size: 20px;
    font-family: "Lato-Bold";
    color: #00bcd8;
    padding-right: 10px;
}

@media screen and (max-width: 992px) {
    .more-ways-to-get-dcn-section .ways .way {
        padding-top: 70px;
        padding-bottom: 70px;
        position: relative;
    }
    .more-ways-to-get-dcn-section .ways .way:after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 220px;
        height: 2px;
        background-color: #acacac;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .more-ways-to-get-dcn-section .ways .way:first-child {
        padding-top: 0;
    }
    .more-ways-to-get-dcn-section .ways .way:last-child {
        padding-bottom: 0;
    }
    .more-ways-to-get-dcn-section .ways .way:last-child:after {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .dcn-page .section-title {
        font-size: 26px;
    }
    .dcn-page h1 {
        font-size: 32px;
    }
    .dcn-page .subtitle {
        font-size: 26px;
        padding-bottom: 40px;
    }
    .dcn-page .what-is-dcn {
        text-align: center;
    }
    .dcn-page .what-is-dcn figure {
        width: 70px;
        margin: 0 auto;
        padding-right: 0;
    }
    .dcn-page .what-is-dcn .right-text {
        display: block;
        padding-top: 15px;
        width: 100%;
    }
    .how-to-earn-rewards-section {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .how-to-earn-rewards-section .fixed-height-background {
        height: 100%;
    }
    .how-to-earn-rewards-section figure {
        display: none;
    }
    .how-to-earn-rewards-section .right-text-and-btn h3 {
        font-size: 28px;
    }
    .how-to-earn-rewards-section .right-text-and-btn {
        padding-right: 15px;
    }
    .simple-steps-section ul li {
        padding-bottom: 20px;
    }
    .simple-steps-section ul li span {
        margin-right: 5px;
    }
}