body {
    margin: 0;
    font-family: Calibri, sans-serif;
    color: $main_color;
    position: relative;
    &.overflow-hidden {
        overflow: hidden;
    }
    &.overflow-visible {
        overflow: visible !important;
    }
    &.padding-right-0 {
        padding-right: 0 !important;
    }
    &.modal-open {
        overflow: hidden;
    }
}

@for $i from 0 through 100 {
    .padding-bottom-#{$i} {
        padding-bottom-: 0px + $i!important;
    }
}

@for $i from 0 through 80 {
    .fs-#{$i} {
        font-size: 0px + $i!important;
    }
}

button, input[type='submit'] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    &:focus {
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }
}

input[type='file'].hide-input {
    display: none;
}

.slick-slider {
    .slick-slide {
        &:focus {
            outline: -webkit-focus-ring-color auto 5px;
        }
    }
}

* {
    outline: none;
    box-sizing: border-box;
}

:focus {
    outline: transparent none;
}

.bold {
    font-weight: bold;
}

.no-gutter {
    padding-right: 0;
    padding-left: 0;
}

.no-gutter-xs {
    @include breakpoint($xs)    {
        padding-right: 0;
        padding-left: 0;
    }
}

.gutter-xs-5 {
    @include breakpoint($xs)    {
        padding-right: 5px;
        padding-left: 5px;
    }
}

.inline-block {
    display: inline-block; float: none; vertical-align: middle;
}

.inline-block-important{
    display: inline-block !important; float: none; vertical-align: middle;
}

.inline-block-top {
    display: inline-block; float: none; vertical-align: top;
}

.inline-block-bottom {
    display: inline-block; float: none; vertical-align: bottom;
}

.flex {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.nowrap {
    white-space: nowrap;
}

.list-inline {
    margin-left: 0 !important;
}

ul, li, h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    color: #4a4a4a;
    &:hover, &:active, &:visited, &:focus {
        text-decoration:none;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.text-center-xs {
    @include breakpoint($xs)    {
        text-align: center;
    }
}

svg.svg-with-lines {
    display: none;
}

body.home, body.testimonials, body.press-center, body.careers.draw-careers-lines {
    svg.svg-with-lines {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        line {
            stroke-width: 2px;
            stroke: black;
        }
    }
}

body.home {
    svg.svg-with-lines {
        @include breakpoint($sm-down)   {
            display: none;
        }
    }
}

body.testimonials, body.press-center {
    svg.svg-with-lines {
        @include breakpoint($xs)   {
            display: none;
        }
    }
}

.custom-dot {
    display: inline-block;
    height: 100%;
}

.between-sections-description {
    .title {
        font-size: 34px;
        font-weight: bold;
        color: $dark_gray;
    }
    .description {
        font-size: 16px;
        font-weight: bold;
        color: $dark_gray;
        line-height: 16px;
    }
}

.visibility-hidden {
    visibility: hidden;
}

.visibility-visible {
    visibility: visible;
}

.visibility-visible-important {
    visibility: visible !important;
}

.pagination-container {
    font-size: 0;
    text-align: center;
    ul {
        li {
            font-size: 16px;
            text-align: center;
            background-color: white;
            border: 2px solid black;
            color: $light_gray;
            font-family: 'Calibri-Bold';
            margin: 0 8px;
            @include rounded(50%);
            @include simple_transition(.3s);
            a {
                width: 30px;
                line-height: 30px;
                height: 30px;
                display: block;
                color: $light_gray;
                @include simple_transition(.3s);
            }
            &.current, &:hover {
                background-color: black;
                color: white;
                a {
                    color: white;
                }
            }
            &.arrow {
                background-color: transparent;
                border: 0;
                color: $light_gray;
                font-size: 21px;
                line-height: 30px;
                a {
                    &:hover {
                        color: $light_gray;
                    }
                }
            }
            &.dots {
                border: 0;
                &:hover {
                    background-color: white;
                    color: black;
                    a {
                        color: black;
                    }
                }
            }
        }
    }
    @include breakpoint($xs)    {
        ul {
            li {
                margin: 0 3px;
                a {
                    width: 17px;
                    line-height: 17px;
                    height: 17px;
                    font-size: 14px;
                }
                &.arrow {
                    line-height: 20px;
                    i {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@include breakpoint($sm-down)   {
    ::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    ::-webkit-scrollbar:vertical {
        width: 12px;
    }

    ::-webkit-scrollbar:horizontal {
        height: 12px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, .5);
        border-radius: 10px;
        border: 2px solid white;
    }

    ::-webkit-scrollbar-track {
        background-color: white;
        @include rounded(10px);
    }
}

@for $i from 10 through 80 {
    .mobile-vertical-line-#{$i} {
        width: 2px;
        height: 0px + $i;
        background: black;
        margin: 0 auto;
    }
}

@include breakpoint($lg-up) {
    .container {
        width: 95%;
        max-width: 1700px;
    }
}

.bootbox {
    .close {
        opacity: .5;
    }
    .bootbox-close-button {
        font-size: 28px;
        margin-top: -5px !important;
        margin-right: 5px;
    }
    @include breakpoint($sm-up) {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }
    &.application-popup {
        .modal-dialog {
            margin-top: 30px;
            margin-bottom: 30px;
            .modal-content {
                @include rounded(25px);
            }
            width: 70%;
            max-width: 900px;
            .container-fluid {
                padding-top: 50px;
                padding-bottom: 50px;
                .content {
                    padding: 0 30px;
                    .logo {
                        width: 40%;
                    }
                    .title {
                        font-size: 32px;
                        font-family: 'Calibri-Bold';
                        padding-top: 20px;
                        padding-bottom: 10px;
                    }
                    .description {
                        line-height: 20px;
                        font-size: 16px;
                        p {
                            padding-bottom: 10px;
                            a {
                                margin-top: 10px;
                                display: inline-block;
                            }
                        }
                    }
                    .extra-html {
                        .extra-title {
                            font-family: 'Calibri-Bold';
                            font-size: 20px;
                            padding-bottom: 10px;
                            padding-top: 20px;
                        }
                        ul {
                            li {
                                padding-bottom: 5px;
                                list-style: disc inside none;
                                a {
                                    text-decoration: underline;
                                }
                            }
                        }
                        .see-all {
                            padding-top: 15px;
                        }
                    }
                }
                .gif {
                    img {
                        @include box-shadow(0 2px 6px 0 rgba(0,0,0,.2));
                    }
                }
            }
        }
    }
    @include breakpoint($sm-down)    {
        &.application-popup {
            .modal-dialog {
                width: 90%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    @include breakpoint($xs)    {
        a.white-blue-rounded-btn {
            font-size: 14px;
            padding: 10px 0;
            width: 100%;
            max-width: 220px;
            display: block;
            text-align: center;
        }
        .bootbox-close-button {
            font-size: 32px;
        }
        &.application-popup {
            text-align: center;
            .modal-dialog {
                .modal-content {
                    border: 0;
                    @include box-shadow(none);
                    @include rounded(6px);
                }
                .container-fluid {
                    padding-top: 20px;
                    padding-bottom: 20px;
                    .content {
                        padding: 0;
                        .logo {
                            margin: 0 auto;
                        }
                        .description {
                            text-align: left;
                        }
                    }
                    .gif {
                        display: none;
                    }
                }
            }
        }
    }
    &.media-inquries {
        padding-bottom: 20px;
        .modal-dialog {
            width: 95%;
            max-width: 800px;
        }
        .section-title {
            padding-bottom: 20px;
        }
        .popup-body {
            padding: 0 10%;
            input[type='text'], .bootstrap-select > button, textarea {
                width: 100%;
                padding: 15px 20px;
                border: 0;
                @include rounded(4px);
                @include box-shadow(-2px 2px 6px 0 rgba(0, 0, 0, 0.2));
                @include simple_transition(.3s);
                &:focus {
                    @include box-shadow(-2px 2px 6px 0 $light_blue);
                }
            }
            .popup-row {
                padding-bottom: 10px;
                .alert {
                    padding: 5px 10px;
                    margin-bottom: 5px;
                }
                .bootstrap-select > button {
                    &:hover, &:visited, &:active, &:focus {
                        background-color: white;
                    }
                }
                .filter-option-inner-inner {
                    color: $dark_gray;
                }
                &.submit {
                    padding-bottom: 0;
                    padding-top: 10px;
                    input[type='submit'].white-blue-rounded-btn {
                        padding: 8px 45px;
                    }
                }
                &.checkbox-row {
                    .checkbox-wrapper {
                        width: 20px;
                    }
                    label {
                        width: calc(100% - 20px);
                        font-size: 14px;
                        cursor: pointer;
                        a {
                            text-decoration: underline;
                        }
                    }
                }
            }
            .waiting-for-action {
                .upload-file {
                    label {
                        margin-bottom: 0;
                    }
                    .white-blue-rounded-btn {
                        display: inline-block;
                    }
                }
            }
            ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: $dark_gray;
                opacity: 1; /* Firefox */
            }

            :-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: $dark_gray;
            }

            ::-ms-input-placeholder { /* Microsoft Edge */
                color: $dark_gray;
            }
        }
    }
    @include breakpoint($xs)    {
        &.media-inquries {
            .popup-body {
                padding: 0;
            }
        }
    }
}

.modal-backdrop.in {
    opacity: .3;
}

.bootstrap-select {
    width: 100% !important;
    button.btn {
        background-position: center right 15px;
        background-repeat: no-repeat;
        &:focus {
            outline: none !important;
        }
    }
    .dropdown-menu {
        min-width: auto !important;
        width: 100%;
        margin: 0;
        &.open {
            border: 1px solid $light_blue;
        }
        li {
            border-bottom: 1px solid $light_blue;
            a {
                outline: none !important;
                &:focus {
                    outline: none !important;
                }
            }
            &.selected {
                a {
                    font-family: "Calibri-Bold";
                }
            }
            &:last-child {
                border: 0;
            }
        }
    }
}

.slider-with-arrows {
    .slick-prev {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background: url(/assets/images/left-arrow.png);
        background-size: auto 100%;
        z-index: 3;
        background-position: center;
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        display: block;
        font-size: 0;
        border: 0;
        cursor: pointer;
    }
    .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        background: url(/assets/images/right-arrow.png);
        background-size: auto 100%;
        z-index: 3;
        background-position: center;
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        display: block;
        font-size: 0;
        border: 0;
        cursor: pointer;
    }
}

.benefits {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    .single {
        padding-bottom: 50px;
        figure {
            img {
                width: 80px;
            }
            figcaption {
                padding-top: 15px;
                font-size: 16px;
                width: 70%;
                margin: 0 auto;
            }
        }
    }
    .custom-border {
        height: 65%;
        width: 1px;
        background-color: black;
        @include vertical-align(absolute);
        &.left-border {
            left: 0;
        }
        &.right-border {
            right: 0;
        }
    }
    @include breakpoint($sm-only) {
        .single {
            padding-bottom: 30px;
            figure {
                figcaption {
                    width: 100%;
                }
            }
        }
    }
    @include breakpoint($xs)    {
        padding-bottom: 0;
        .single {
            padding-bottom: 30px;
        }
        .custom-border {
            display: none;
        }
    }
}

.privacy-policy-cookie {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(10, 10, 10, .7);
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 999999;
    font-size: 0;
    .text {
        font-size: 16px;
        width: calc(100% - 100px);
        .link {
            color: $light_blue;
            font-weight: bold;
            text-decoration: underline;
        }
    }
    .button {
        width: 100px;
        a {
            display: block;
            text-align: center;
            font-size: 16px;
            padding: 10px 0;
        }
    }
}