body {
    margin: 0;
    font-family: "Calibri-Regular";
    color: $main_color;
    position: relative;
    &.overflow-hidden {
        overflow: hidden;
    }
    &.overflow-visible {
        overflow: visible !important;
    }
    &.padding-right-0 {
        padding-right: 0 !important;
    }
    &.modal-open {
        overflow: hidden;
    }
}

@for $i from 0 through 20 * 2 {
    .padding-bottom-#{$i * 5} {
        padding-bottom: 0px + $i * 5!important;
    }
}

@for $i from 0 through 20 * 2 {
    .padding-top-#{$i * 5} {
        padding-top: 0px + $i * 5!important;
    }
}

@for $i from 0 through 20 * 2 {
    .padding-left-#{$i * 5} {
        padding-left: 0px + $i * 5!important;
    }
}

@for $i from 0 through 20 * 2 {
    .padding-right-#{$i * 5} {
        padding-right: 0px + $i * 5!important;
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($sm-only)    {
        .padding-bottom-sm-#{$i * 5} {
            padding-bottom: 0px + $i * 5!important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($sm-only) {
        .padding-top-sm-#{$i * 5} {
            padding-top: 0px + $i * 5 !important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($sm-only) {
        .padding-left-sm-#{$i * 5} {
            padding-left: 0px + $i * 5 !important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($sm-only) {
        .padding-right-sm-#{$i * 5} {
            padding-right: 0px + $i * 5 !important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($xs)    {
        .padding-bottom-xs-#{$i * 5} {
            padding-bottom: 0px + $i * 5!important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($xs) {
        .padding-top-xs-#{$i * 5} {
            padding-top: 0px + $i * 5 !important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($xs) {
        .padding-left-xs-#{$i * 5} {
            padding-left: 0px + $i * 5 !important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($xs) {
        .padding-right-xs-#{$i * 5} {
            padding-right: 0px + $i * 5 !important;
        }
    }
}

.margin-0-auto {
    margin: 0 auto;
}

@for $i from 0 through 20 * 2 {
    .margin-left-#{$i * 5} {
        margin-left: 0px + $i * 5!important;
    }
}

@for $i from 0 through 20 * 2 {
    .margin-right-#{$i * 5} {
        margin-right: 0px + $i * 5!important;
    }
}

@for $i from 0 through 20 * 2 {
    .margin-bottom-#{$i * 5} {
        margin-bottom: 0px + $i * 5!important;
    }
}

@for $i from 0 through 20 * 2 {
    .margin-top-#{$i * 5} {
        margin-top: 0px + $i * 5!important;
    }
}

@for $i from 0 through 30 * 2 {
    .max-width-#{$i * 10} {
        max-width: 0px + $i * 10!important;
    }
}

@for $i from 0 through 15 * 2 {
    @include breakpoint($xs)    {
        .max-width-xs-#{$i * 10} {
            max-width: 0px + $i * 10!important;
        }
    }
}

@for $i from 0 through 20 {
    .width-#{$i * 5} {
        width: 0% + $i * 5!important;
    }
}

@for $i from 0 through 20 {
    @include breakpoint($xs) {
        .width-xs-#{$i * 5} {
            width: 0% + $i * 5!important;
        }
    }
}

@for $i from 0 through 150 {
    .fs-#{$i} {
        font-size: 0px + $i!important;
    }
}

@for $i from 0 through 150 {
    @include breakpoint($xs)    {
        .fs-xs-#{$i} {
            font-size: 0px + $i!important;
        }
    }
}

@for $i from 0 through 80 {
    .line-height-#{$i} {
        line-height: 0px + $i!important;
    }
}

.italic {
    font-style: italic;
}

.display-block {
    display: block;
}

.display-flex {
    display: flex;
}

.hide-xs {
    @include breakpoint($xs)    {
        display: none !important;
    }
}

.show-xs {
    display: none !important;
    @include breakpoint($xs)    {
        display: block !important;
        &.inline-block {
            display: inline-block !important;
        }
    }
}

.text-center {
    text-align: center;
}

.text-center-sm {
    @include breakpoint($sm-only)    {
        text-align: center !important;
    }
}

.text-center-xs {
    @include breakpoint($xs)    {
        text-align: center !important;
    }
}

.clear-bootstrap-row {
    @include breakpoint($xs)    {
        margin-left: -15px !important;
        margin-right: -15px !important;
    }
}

button, input[type='submit'] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    &:focus {
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }
}

input[type='file'].hide-input {
    display: none;
}

.slick-slider {
    .slick-slide {
        &:focus {
            outline: -webkit-focus-ring-color auto 5px;
        }
    }
}

* {
    outline: none;
    box-sizing: border-box;
}

:focus {
    outline: transparent none;
}

.bold {
    font-weight: bold;
}

.no-gutter {
    padding-right: 0;
    padding-left: 0;
}

.no-gutter-xs {
    @include breakpoint($xs)    {
        padding-right: 0 !important;
        padding-left: 0 !important;;
    }
}

.gutter-xs-5 {
    @include breakpoint($xs)    {
        padding-right: 5px;
        padding-left: 5px;
    }
}

.gutter-xs-15 {
    @include breakpoint($xs)    {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
}

.inline-block {
    display: inline-block; float: none; vertical-align: middle;
}

.inline-block-important{
    display: inline-block !important; float: none; vertical-align: middle;
}

.inline-block-top {
    display: inline-block; float: none; vertical-align: top;
}

.inline-block-bottom {
    display: inline-block; float: none; vertical-align: bottom;
}

.flex {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.nowrap {
    white-space: nowrap;
}

.list-inline {
    margin-left: 0 !important;
}

ul, li, h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    color: #4a4a4a;
    &:hover, &:active, &:visited, &:focus {
        text-decoration:none;
    }
}

.text-decoration-underline {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
}

svg.svg-with-lines {
    display: none;
}

body.home, body.foundation, body.testimonials, body.press-center, body.careers.allow-draw-lines, body.corporate-design.allow-draw-lines {
    svg.svg-with-lines {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        line {
            stroke-width: 2px;
            stroke: black;
        }
    }
}

body.corporate-design.allow-draw-lines {
    @include breakpoint($xs)    {
        svg.svg-with-lines {
            display: none;
        }
    }
}


body.home {
    svg.svg-with-lines {
        @include breakpoint($sm-down)   {
            display: none;
        }
    }
}

body.testimonials, body.press-center {
    svg.svg-with-lines {
        @include breakpoint($xs)   {
            display: none;
        }
    }
}

.custom-dot {
    display: inline-block;
    height: 100%;
}

.between-sections-description {
    .title {
        font-size: 34px;
        font-weight: bold;
        color: $dark_gray;
    }
    .description {
        font-size: 16px;
        font-weight: bold;
        color: $dark_gray;
        line-height: 16px;
    }
}

.visibility-hidden {
    visibility: hidden;
}

.visibility-visible {
    visibility: visible;
}

.visibility-visible-important {
    visibility: visible !important;
}

.pagination-container {
    font-size: 0;
    text-align: center;
    ul {
        li {
            font-size: 16px;
            text-align: center;
            background-color: white;
            border: 2px solid black;
            color: $light_gray;
            font-family: 'Calibri-Bold';
            margin: 0 8px;
            @include rounded(50%);
            @include simple_transition(.3s);
            a {
                width: 30px;
                line-height: 30px;
                height: 30px;
                display: block;
                color: $light_gray;
                @include simple_transition(.3s);
            }
            &.current, &:hover {
                background-color: black;
                color: white;
                a {
                    color: white;
                }
            }
            &.arrow {
                background-color: transparent;
                border: 0;
                color: $light_gray;
                font-size: 21px;
                line-height: 30px;
                a {
                    &:hover {
                        color: $light_gray;
                    }
                }
            }
            &.dots {
                border: 0;
                &:hover {
                    background-color: white;
                    color: black;
                    a {
                        color: black;
                    }
                }
            }
        }
    }
    @include breakpoint($xs)    {
        ul {
            li {
                margin: 0 3px;
                a {
                    width: 17px;
                    line-height: 17px;
                    height: 17px;
                    font-size: 14px;
                }
                &.arrow {
                    line-height: 20px;
                    i {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@include breakpoint($sm-down)   {
    ::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    ::-webkit-scrollbar:vertical {
        width: 12px;
    }

    ::-webkit-scrollbar:horizontal {
        height: 12px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, .5);
        border-radius: 10px;
        border: 2px solid white;
    }

    ::-webkit-scrollbar-track {
        background-color: white;
        @include rounded(10px);
    }
}

@for $i from 10 through 80 {
    .mobile-vertical-line-#{$i} {
        width: 2px;
        height: 0px + $i;
        background: black;
        margin: 0 auto;
    }
}

@include breakpoint($lg-up) {
    .container {
        width: 95%;
        max-width: 1700px;
    }
}

.bootbox {
    .bootbox-close-button {
        position: absolute;
        right: 10px;
        font-size: 26px;
        top: 0;
        margin-top: 0 !important;
    }/*
    @include breakpoint($sm-up) {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }*/
    &.style-anchors {
        .modal-dialog {
            .modal-content {
                .modal-body {
                    a {
                        font-weight: bold;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    /*&.login-signin-popup {
        .bootbox-close-button {
            display: none;
        }
        .modal-dialog {
            width: 95%;
            max-width: 1000px;
            .modal-content {
                background: transparent;
                border: 0;
                @include box-shadow(none);
                .modal-body {
                    padding: 0;
                    .popup-header-action {
                        a {
                            width: 50%;
                            font-size: 35px;
                            padding: 10px;
                            text-align: center;
                            border-top: 3px solid white;
                            border-left: 3px solid white;
                            border-right: 3px solid white;
                            @include rounded(4px 4px 0 0);
                            &[data-type="patient"] {
                                color: white;
                                background-color: $dark_blue;
                                border-bottom: 1px solid white;
                            }
                            &[data-type="dentist"] {
                                color: black;
                                background-color: white;
                                border-bottom: 1px solid black;
                            }
                            @include breakpoint($xs) {
                                font-size: 20px;
                                padding: 10px 5px;
                            }
                        }
                    }
                    .popup-body {
                        display: flex;
                        .dentist {
                            background: white;
                            .call-sign-up {
                                font-family: 'Calibri-Bold';
                                color: black;
                                &:hover {
                                    color: black;
                                }
                            }
                            .popup-half-footer {
                                padding: 30px 0;
                                margin-top: 50px;
                                margin-left: -15%;
                                margin-right: -15%;
                                text-align: center;
                                border-top: 1px solid black;
                                font-size: 16px;
                                a {
                                    font-family: 'Calibri-Bold';
                                    color: black;
                                    font-size: 16px;
                                    text-decoration: underline;
                                }
                                @include breakpoint($xs) {
                                    margin-top: 30px;
                                    margin-left: auto;
                                    margin-right: auto;
                                }
                            }
                            .form-register {
                                .step {
                                    display: none;
                                    .pretty {
                                        white-space: normal;
                                        padding-bottom: 5px;
                                        margin-bottom: 0 !important;
                                        .state {
                                            position: relative;
                                            color: black;
                                            svg.svg {
                                                left: 0;
                                                top: 0;
                                                width: 18px;
                                                height: 18px;
                                            }
                                            i {
                                                left: 1px;
                                                top: 1px;
                                                position: absolute;
                                            }
                                            label {
                                                line-height: 20px;
                                                &:before, &:after {
                                                    left: 0;
                                                    top: 0;
                                                    width: 18px;
                                                    height: 18px;
                                                }
                                            }
                                        }
                                        input:checked~.state.p-success label:after, &.p-toggle .state.p-success label:after {
                                            background-color: black !important;
                                        }
                                    }
                                    &.visible {
                                        display: block;
                                    }
                                    &.second {
                                        .user-type-container {
                                            .user-type {
                                                width: 50%;
                                                .custom-button {
                                                    padding: 5px 10px;
                                                    display: block;
                                                    border: 2px solid #dddddd;
                                                    color: #dddddd;
                                                    font-size: 20px;
                                                    @include rounded(4px);
                                                    .custom-radio {
                                                        margin-right: 5px;
                                                        width: 20px;
                                                        height: 20px;
                                                        line-height: 20px;
                                                        border: 1px solid #dddddd;
                                                        text-align: center;
                                                        font-size: 0;
                                                        @include rounded(50%);
                                                        .circle {
                                                            width: 10px;
                                                            height: 10px;
                                                            background-color: black;
                                                            background-color: gray;
                                                            vertical-align: middle;
                                                            display: none;
                                                            @include rounded(50%);
                                                        }
                                                    }
                                                }
                                                &.active {
                                                    .custom-button {
                                                        color: $dark_blue;
                                                        border: 2px solid $dark_blue;
                                                        .custom-radio {
                                                            .circle {
                                                                display: inline-block;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }

                                        .privacy-policy-row {
                                            input[type='checkbox'] {
                                                max-width: 170px;
                                            }
                                            label {
                                                display: block;
                                                white-space: normal;
                                                text-indent: 25px;
                                            }
                                        }
                                    }
                                    &.third {
                                        .phone {
                                            display: flex;
                                            align-items: center;
                                            .country-code {
                                                font-size: 16px;
                                                padding-right: 10px;
                                                color: black;
                                            }
                                            .input-phone {
                                                flex: 1;
                                            }
                                            input[type=number]::-webkit-inner-spin-button,
                                            input[type=number]::-webkit-outer-spin-button {
                                                -webkit-appearance: none;
                                                -moz-appearance: none;
                                                appearance: none;
                                                margin: 0;
                                            }
                                        }
                                    }
                                    &.fourth {
                                        .avatar {
                                            width: 180px;
                                        }
                                        .specializations {
                                            width: calc(100% - 180px);
                                            padding-left: 20px;
                                            color: black;
                                            h4 {
                                                padding-bottom: 10px;
                                            }
                                            .pretty {
                                                margin-bottom: 15px;
                                                display: block;
                                                svg.svg {
                                                    border-color: #126585 !important;
                                                }
                                                label {
                                                    text-indent: 25px;
                                                }
                                            }
                                            @include breakpoint($xs) {
                                                padding-left: 10px;
                                            }
                                        }
                                        .combobox-container {
                                            .input-group {
                                                display: block;
                                            }
                                            .input-group-addon.dropdown-toggle {
                                                display: none;
                                            }
                                        }
                                    }
                                }
                                .btns-container {
                                    font-size: 0;
                                    .inline-block {
                                        width: 50%;
                                        .prev-step {
                                            display: none;
                                            color: black;
                                            font-size: 14px;
                                            font-family: 'Calibri Light';
                                            border: 0;
                                            background: transparent;
                                        }
                                        .next-step {
                                            @include breakpoint($xs) {
                                                font-size: 16px;
                                                padding: 10px 0;
                                                width: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .patient {
                            background-color: $dark_blue;
                            color: white;
                            .popup-half-footer {
                                padding: 30px 0;
                                margin-top: 80px;
                                margin-left: -15%;
                                margin-right: -15%;
                                text-align: center;
                                border-top: 1px solid white;
                                color: white;
                                font-size: 16px;
                                a {
                                    font-family: 'Calibri-Bold';
                                    font-size: 20px;
                                    text-decoration: underline;
                                }
                                @include breakpoint($xs) {
                                    margin-top: 30px;
                                    margin-left: auto;
                                    margin-right: auto;
                                }
                            }
                        }
                        .dentist, .patient {
                            width: 50%;
                            padding-top: 50px;
                            border-bottom: 3px solid white;
                            border-left: 3px solid white;
                            border-right: 3px solid white;
                            @include rounded(0 0 4px 4px);
                            .custom-input {
                                padding: 7px 12px;
                            }
                            h2 {
                                font-size: 30px;
                                padding-bottom: 20px;
                                font-family: "Calibri Light";
                            }
                            &.patient {
                                h2 {
                                    color: white;
                                }
                            }
                            &.dentist {
                                h2 {
                                    color: black;
                                }
                            }
                            .form-register {
                                display: none;
                            }
                            .form-register, .form-login {
                                width: 80%;
                                margin: 0 auto;
                                @include breakpoint($xs) {
                                    width: 95%;
                                }
                            }
                            &.custom-hide {
                                visibility: hidden;
                                @include breakpoint($xs) {
                                    display: none;
                                }
                            }
                            @include breakpoint($xs) {
                                padding-top: 30px;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }*/
    &.popup-html {
        .bootbox-close-button {
            font-size: 45px;
            margin-top: -20px;
            opacity: 1;
            color: #424242;
            position: absolute;
            right: 15px;
        }
        .modal-dialog {
            width: 95%;
            max-width: 900px;
            .modal-body {
                .bootbox-body {
                    padding: 0 8%;
                    .border-bottom {
                        border-bottom: 1px solid black;
                    }
                    .line-crossed {
                        position: relative;
                        text-align: center;
                        span {
                            background-color: white;
                            z-index: 5;
                            padding: 0 10px;
                            position: relative;
                        }
                        &:after {
                            content: '';
                            height: 1px;
                            left: 0;
                            width: 100%;
                            background-color: black;
                            @include vertical-align(absolute);
                        }
                    }
                    form {
                        padding: 0 50px;
                        text-align: left;
                        .error-handle {
                            display: block;
                        }
                        &#enrich-profile {
                            color: #888888;
                            textarea {
                                border: 1px solid #cccccc;
                                font-size: 16px;
                                width: 100%;
                                padding: 10px;
                                @include rounded(4px);
                            }
                        }
                    }
                    @include breakpoint($xs) {
                        padding: 0;
                        form {
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
    @include breakpoint($xs)    {
        a.white-blue-rounded-btn {
            font-size: 14px;
            padding: 10px 0;
            width: 100%;
            max-width: 220px;
            display: block;
            text-align: center;
        }
        .bootbox-close-button {
            font-size: 32px;
        }
    }
    &.media-inquries {
        padding-bottom: 20px;
        .modal-dialog {
            width: 95%;
            max-width: 800px;
        }
        .section-title {
            padding-bottom: 20px;
        }
        .popup-body {
            padding: 0 10%;
            input[type='text'], .bootstrap-select > button, textarea {
                width: 100%;
                padding: 15px 20px;
                border: 0;
                @include rounded(4px);
                @include box-shadow(0px 2px 10px 0 rgba(0, 0, 0, 0.2));
                @include simple_transition(.3s);
                &:focus {
                    @include box-shadow(0px 2px 10px 0 $light_blue);
                }
            }
            .popup-row {
                padding-bottom: 10px;
                .alert {
                    padding: 5px 10px;
                    margin-bottom: 5px;
                }
                .bootstrap-select > button {
                    &:hover, &:visited, &:active, &:focus {
                        background-color: white;
                    }
                }
                .filter-option-inner-inner {
                    color: $dark_gray;
                }
                &.submit {
                    padding-bottom: 0;
                    padding-top: 10px;
                    input[type='submit'].white-blue-rounded-btn {
                        padding: 8px 45px;
                    }
                }
                &.checkbox-row {
                    .checkbox-wrapper {
                        width: 20px;
                    }
                    label {
                        width: calc(100% - 20px);
                        font-size: 14px;
                        cursor: pointer;
                        a {
                            text-decoration: underline;
                        }
                    }
                }
                &.captcha-parent {
                    .width-50 {
                        width: 50%;
                        .captcha-container {
                            text-align: center;
                        }
                        @include breakpoint($xs)    {
                            width: 100%;
                            .captcha-container {
                                padding-top: 10px;
                            }
                        }
                    }
                } 
            }
            .waiting-for-action {
                .upload-file {
                    label {
                        margin-bottom: 0;
                    }
                    .white-blue-rounded-btn {
                        display: inline-block;
                    }
                }
            }
            ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: $dark_gray;
                opacity: 1; /* Firefox */
            }

            :-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: $dark_gray;
            }

            ::-ms-input-placeholder { /* Microsoft Edge */
                color: $dark_gray;
            }
        }
    }
    @include breakpoint($xs)    {
        &.media-inquries {
            .popup-body {
                padding: 0;
            }
        }
    }
}

.modal-backdrop.in {
    opacity: .3;
}

.bootstrap-select {
    width: 100% !important;
    button.btn {
        background-position: center right 15px;
        background-repeat: no-repeat;
        &:focus {
            outline: none !important;
        }
    }
    .dropdown-menu {
        min-width: auto !important;
        width: 100%;
        margin: 0;
        &.open {
            border: 1px solid $light_blue;
        }
        li {
            border-bottom: 1px solid $light_blue;
            a {
                outline: none !important;
                &:focus {
                    outline: none !important;
                }
            }
            &.selected {
                a {
                    font-family: "Calibri-Bold";
                }
            }
            &:last-child {
                border: 0;
            }
        }
    }
}

.slider-with-arrows {
    .slick-prev {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background: url(/assets/images/left-arrow.png);
        background-size: auto 100%;
        z-index: 3;
        background-position: center;
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        display: block;
        font-size: 0;
        border: 0;
        cursor: pointer;
    }
    .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        background: url(/assets/images/right-arrow.png);
        background-size: auto 100%;
        z-index: 3;
        background-position: center;
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        display: block;
        font-size: 0;
        border: 0;
        cursor: pointer;
    }
}

.benefits {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 25px;
    position: relative;
    .wrapper {
        .single {
            padding-bottom: 50px;
            figure {
                img {
                    width: 80px;
                }
                figcaption {
                    padding-top: 15px;
                    font-size: 16px;
                    width: 90%;
                    margin: 0 auto;
                }
            }
        }
    }
    .custom-border {
        height: 65%;
        width: 2px;
        background-color: black;
        @include vertical-align(absolute);
        &.left-border {
            left: 0;
        }
        &.right-border {
            right: 0;
        }
    }
    @include breakpoint($sm-down) {
        .wrapper {
            .single {
                padding-bottom: 30px;
                figure {
                    figcaption {
                        width: 100%;
                    }
                }
            }
        }
    }
    @include breakpoint($xs)    {
        padding-bottom: 0;
        .wrapper {
            .single {
                padding-bottom: 30px;
            }
        }
        .custom-border {
            display: none;
        }
    }
}

.captcha-container {
    justify-content: center;
    .refresh-captcha {
        font-size: 20px;
        color: white;
        background-color: #21bef4;
        border: 0;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.download-logo-section {
    background-color: #eeeeee;
    padding-top: 30px;
    padding-bottom: 30px;
    figure {
        width: 100px;
    }
    p.description {
        width: calc(100% - 300px);
        font-size: 18px;
        font-family: "Calibri Light";
        padding-left: 25px;
        strong {
            font-family: "Calibri-Bold";
            display: block;
        }
        a {
            color: $dark_blue;
            font-family: "Calibri-Bold";
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .btn-container {
        font-size: 18px;
        width: 200px;
        text-align: right;
        i {
            padding-right: 5px;
        }
    }
    @include breakpoint($sm-down) {
        p.description {
            font-size: 16px;
        }
    }
    @include breakpoint($xs)    {
        padding-bottom: 50px;
        figure {
            display: block;
            margin: 0 auto 15px;
        }
        p.description {
            width: 100%;
            display: block;
            padding-bottom: 20px;
            padding-left: 0;
        }
        .btn-container {
            width: 100%;
            display: block;
            text-align: left;
        }
    }
}

iframe.zEWidget-launcher {
    left: 0;
    right: auto !important;
}

body > [style="display: block !important;"], body > iframe[title="chat widget"][scrolling="no"][frameborder="0"] {
    left: 20px !important;
    right: auto !important;
}

.line-crossed-title {
    position: relative;
    span {
        background-color: white;
        padding-right: 10px;
    }
    &:after {
        content: '';
        height: 3px;
        left: 0;
        z-index: -1;
        width: 100%;
        background-color: black;
        @include vertical-align(absolute);
    }
}

.response-layer {
    background-color: rgba(255,255,255,.9);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
    display: none;
    .wrapper {
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 20px;
        @include vertical-horizontal-align(absolute);
        img {
            width: 95%;
            margin-bottom: 15px;
        }
    }
}

.pac-container {
    z-index: 50000;
}